<div class="registration-form">
  <lk-warning-box
    content="Unsere Plattform befindet sich in der Pilotphase. Bisher können Kunden nur
Händler aus ausgewählten Städten finden.
Wenn Du der erste sein willst, wenn wir in Deiner Stadt starten, kannst du
dich hier vorab registrieren."
  >
  </lk-warning-box>

  <app-lk-page-title
    *ngIf="registrationState === 'new'"
    title="Anmeldung"
    subtitle="Melde Dich kostenlos an um Dein Geschäft, Dein Restaurant oder Dein Café online zu präsentieren und Deinen Kunden zu zeigen, dass Du weiterhin für sie da bist.
  "
  ></app-lk-page-title>

  <app-lk-page-title
    *ngIf="registrationState === 'edit'"
    title="Bearbeiten"
    subtitle="Aktualisiere Deine Daten
  "
  ></app-lk-page-title>

  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-input">
      <lk-input
        [warn]="businessname.touched && businessname.invalid"
        type="text"
        formControlName="businessname"
        placeholder="Firmenname*"
      ></lk-input>
      <div class="warning" *ngIf="businessname.touched && businessname.invalid">
        Bitte gib Deinen Firmennamen ein
      </div>
    </div>
    <div class="registration-input">
      <lk-input
        [warn]="ownerFirstname.touched && ownerFirstname.invalid"
        type="text"
        formControlName="ownerFirstname"
        placeholder="Vorname"
      ></lk-input>
    </div>
    <div class="registration-input">
      <lk-input
        [warn]="ownerLastname.touched && ownerLastname.invalid"
        type="text"
        formControlName="ownerLastname"
        placeholder="Nachname"
      ></lk-input>
    </div>
    <div class="registration-input">
      <lk-input
        [warn]="phone.touched && phone.invalid"
        type="tel"
        formControlName="phone"
        placeholder="Telefonnummer*"
      >
      </lk-input>
      <div class="warning" *ngIf="phone.touched && phone.invalid">
        Bitte gib eine gültige Telefonnummer ein
      </div>
    </div>
    <div class="address">
      <div class="registration-input street">
        <lk-input
          [warn]="street.touched && street.invalid"
          type="text"
          formControlName="street"
          placeholder="Straße*"
        >
        </lk-input>
        <div class="warning" *ngIf="street.touched && street.invalid">
          Bitte gib eine Straße ein
        </div>
      </div>
      <div class="registration-input streetnumber">
        <lk-input
          [warn]="streetnumber.touched && streetnumber.invalid"
          type="text"
          formControlName="streetnumber"
          placeholder="Nr.*"
        ></lk-input>
      </div>
      <div class="registration-input postcode">
        <lk-input
          [warn]="postcode.touched && postcode.invalid"
          type="number"
          formControlName="postcode"
          placeholder="Plz*"
        ></lk-input>
        <div class="warning" *ngIf="postcode.touched && postcode.invalid">
          Format: 44135
        </div>
      </div>
      <div class="registration-input city">
        <lk-input
          [warn]="city.touched && city.invalid"
          type="text"
          formControlName="city"
          placeholder="Stadt*"
        >
        </lk-input>
        <div class="warning" *ngIf="city.touched && city.invalid">
          Bitte gib eine Stadt ein
        </div>
      </div>
    </div>

    <ng-container *ngIf="registrationState === 'new'">
      <div class="subheadline">Deine Zugangsdaten</div>
      <div class="registration-input">
        <lk-input
          [warn]="email.touched && email.invalid"
          type="email"
          formControlName="email"
          placeholder="Email*"
        >
        </lk-input>
        <div class="warning" *ngIf="email.touched && email.invalid">
          Bitte überprüfe die eingegebene Email-Adresse.
        </div>
      </div>

      <div class="registration-input">
        <lk-input
          matInput
          #passwordWithValidation
          type="password"
          required
          formControlName="password"
          [formControl]="passwordComponentWithValidation.passwordFormControl"
          placeholder="Passwort"
        ></lk-input>
      </div>
      <div class="registration-input">
        <lk-input
          [warn]="
            passwordRepeat.touched &&
            (passwordRepeat.invalid ||
              (registrationForm.errors && registrationForm.errors.notSame))
          "
          type="password"
          formControlName="passwordRepeat"
          placeholder="Passwort wiederholen*"
        ></lk-input>
        <div
          class="warning"
          *ngIf="registrationForm.errors && registrationForm.errors.notSame"
        >
          Die eingegebenen Passwörter stimmen nicht überein.
        </div>
      </div>

      <!--      <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">-->
      <!--        Passwort ist notwendig!-->
      <!--      </mat-error>-->
      <!--      <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('pattern')">-->
      <!--        Passwort ist nicht valide!-->
      <!--      </mat-error>-->

      <mat-password-strength
        #passwordComponentWithValidation
        [password]="passwordWithValidation.value"
      >
      </mat-password-strength>
      <!--Password's strength info-->
      <mat-password-strength-info
        [passwordComponent]="passwordComponentWithValidation"
        lowerCaseCriteriaMsg="Kleinschreibung"
        upperCaseCriteriaMsg="Großschreibung"
        digitsCriteriaMsg="Zahlen"
        specialCharsCriteriaMsg="Sonderzeichen (z.B.: !#$%&+?)"
        minCharsCriteriaMsg="Länge {{
          passwordWithValidation.value.length
        }} / {{ 8 }}"
      >
      </mat-password-strength-info>
    </ng-container>
    <div class="agb">
      <label>
        <app-lk-checkbox formControlName="agbRead"></app-lk-checkbox>
        <div>
          Mit meiner Anmeldung versichere ich, dass ich die
          <a
            href="http://www.info.lokalkauf.org/agb"
            target="_blank"
            rel="noopener noreferrer"
            >AGB</a
          >
          und die
          <a
            href="http://www.info.lokalkauf.org/datenschutz"
            target="_blank"
            rel="noopener noreferrer"
            >Datenschutzrichtlinen</a
          >
          gelesen habe und damit einverstanden bin.
        </div>
      </label>
    </div>

    <div class="button-and-error">
      <ng-container *ngIf="registrationState === 'new'">
        <lk-button
          [disabled]="!registrationForm.valid"
          type="submit"
          label="Registrieren"
        ></lk-button>
      </ng-container>
      <ng-container *ngIf="registrationState === 'edit'">
        <div class="button-container">
          <div class="speichern">
            <lk-button
              [disabled]="!registrationForm.valid"
              type="submit"
              label="Aktualisieren"
            ></lk-button>
          </div>
          <div class="verwerfen">
            <lk-button
              type="button"
              label="Zurück"
              (click)="verwerfen()"
            ></lk-button>
          </div>
          <span class="success" *ngIf="saveSuccessful">
            Speichern erfolgreich
          </span>
        </div>
      </ng-container>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.emailInUse"
      >
        <span>Ein Konto mit der E-Mail Adresse existiert bereits.</span>
      </div>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.invalidEmail"
      >
        <span>Die angegebene E-Mail Adresse ist ungültig.</span>
      </div>
      <div
        class="error"
        *ngIf="
          registrationForm.errors &&
          (registrationForm.errors.operationNotAllowed ||
            registrationForm.errors.undefinedError)
        "
      >
        <span>Tut uns leid. Etwas ist schiefgelaufen.</span>
      </div>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.weakPassword"
      >
        <span>Das gewählte Passwort ist zu schwach.</span>
      </div>
    </div>
  </form>
  <div *ngIf="registrationState === 'edit'" class="delete-profile">
    Ich möchte mein Profil
    <a [routerLink]="" (click)="deleteProfile()">löschen</a>.
  </div>
  <br />
  <br />
</div>
