<div class="alert-warning">
  Unsere Plattform befindet sich in der Pilotphase. Bisher können Kunden nur
  Händler aus Wiesbaden finden.<br />
  Wenn Du der erste sein willst, wenn wir in Deiner Stadt starten, kannst du
  dich hier vorab registrieren.
</div>

<app-lk-page-title
  title="Anmeldung"
  subtitle="Melde Dich kostenlos an um Dein Geschäft, Dein Restaurant oder Dein Café online zu präsentieren und Deinen Kunden zu zeigen, dass Du weiterhin für sie da bist.
  "
></app-lk-page-title>

<div class="registration-form">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="registration-input">
      <app-lk-input
        [warn]="businessname.touched && businessname.invalid"
        type="text"
        formControlName="businessname"
        placeholder="Firmenname*"
      ></app-lk-input>
      <div class="warning" *ngIf="businessname.touched && businessname.invalid">
        Bitte gib Deinen Firmennamen ein
      </div>
    </div>
    <div class="registration-input">
      <app-lk-input
        [warn]="ownerFirstname.touched && ownerFirstname.invalid"
        type="text"
        formControlName="ownerFirstname"
        placeholder="Vorname"
      ></app-lk-input>
    </div>
    <div class="registration-input">
      <app-lk-input
        [warn]="ownerLastname.touched && ownerLastname.invalid"
        type="text"
        formControlName="ownerLastname"
        placeholder="Nachname"
      ></app-lk-input>
    </div>
    <div class="registration-input">
      <app-lk-input
        [warn]="phone.touched && phone.invalid"
        type="tel"
        formControlName="phone"
        placeholder="Telefonnummer*"
      ></app-lk-input>
      <div class="warning" *ngIf="phone.touched && phone.invalid">
        Bitte gib eine gültige Telefonnummer ein
      </div>
    </div>
    <div class="address">
      <div class="registration-input street">
        <app-lk-input
          [warn]="street.touched && street.invalid"
          type="text"
          formControlName="street"
          placeholder="Straße*"
        ></app-lk-input>
        <div class="warning" *ngIf="street.touched && street.invalid">
          Bitte gib eine Straße ein
        </div>
      </div>
      <div class="registration-input streetnumber">
        <app-lk-input
          [warn]="streetnumber.touched && streetnumber.invalid"
          type="text"
          formControlName="streetnumber"
          placeholder="Nr.*"
        ></app-lk-input>
      </div>
      <div class="registration-input postcode">
        <app-lk-input
          [warn]="postcode.touched && postcode.invalid"
          type="number"
          formControlName="postcode"
          placeholder="Plz*"
        ></app-lk-input>
        <div class="warning" *ngIf="postcode.touched && postcode.invalid">
          Format: 44135
        </div>
      </div>
      <div class="registration-input city">
        <app-lk-input
          [warn]="city.touched && city.invalid"
          type="text"
          formControlName="city"
          placeholder="Stadt*"
        >
        </app-lk-input>
        <div class="warning" *ngIf="city.touched && city.invalid">
          Bitte gib eine Stadt ein
        </div>
      </div>
    </div>
    <div class="subheadline">Deine Zugangsdaten</div>
    <div class="registration-input">
      <app-lk-input
        [warn]="email.touched && email.invalid"
        type="email"
        formControlName="email"
        placeholder="Email*"
      >
      </app-lk-input>
      <div class="warning" *ngIf="email.touched && email.invalid">
        Bitte überprüfe die eingegebene Email-Adresse.
      </div>
    </div>

    <div class="registration-input">
      <app-lk-input
        matInput
        #passwordWithValidation
        type="password"
        required
        formControlName="password"
        [formControl]="passwordComponentWithValidation.passwordFormControl"
        placeholder="Passwort"
      ></app-lk-input>
    </div>
    <div class="registration-input">
      <app-lk-input
        [warn]="
          passwordRepeat.touched &&
          (passwordRepeat.invalid ||
            (registrationForm.errors && registrationForm.errors.notSame))
        "
        type="password"
        formControlName="passwordRepeat"
        placeholder="Passwort wiederholen*"
      ></app-lk-input>
      <div
        class="warning"
        *ngIf="registrationForm.errors && registrationForm.errors.notSame"
      >
        Die eingegebenen Passwörter stimmen nicht überein.
      </div>
    </div>

    <!--      <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('required')">-->
    <!--        Passwort ist notwendig!-->
    <!--      </mat-error>-->
    <!--      <mat-error *ngIf="passwordComponentWithValidation.passwordFormControl.hasError('pattern')">-->
    <!--        Passwort ist nicht valide!-->
    <!--      </mat-error>-->

    <mat-password-strength
      #passwordComponentWithValidation
      [password]="passwordWithValidation.value"
    >
    </mat-password-strength>
    <!--Password's strength info-->
    <mat-password-strength-info
      [passwordComponent]="passwordComponentWithValidation"
      lowerCaseCriteriaMsg="Kleinschreibung"
      upperCaseCriteriaMsg="Großschreibung"
      digitsCriteriaMsg="Zahlen"
      specialCharsCriteriaMsg="Sonderzeichen"
      minCharsCriteriaMsg="Länge {{ passwordWithValidation.value.length }} / {{
        8
      }}"
    >
    </mat-password-strength-info>

    <div class="agb">
      <label>
        <app-lk-checkbox formControlName="agbRead"></app-lk-checkbox>
        <p>
          Mit meiner Anmeldung versichere ich, dass ich die
          <a href="https://www.lokalkauf.org/agb" target="_blank">AGB</a>
          und die
          <a href="https://www.lokalkauf.org/datenschutz" target="_blank"
            >Datenschutzrichtlinen</a
          >
          gelesen habe und damit einverstanden bin.
        </p>
      </label>
    </div>

    <div class="button-and-error">
      <app-lk-button
        [disabled]="!registrationForm.valid"
        type="submit"
        label="Registrieren"
      ></app-lk-button>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.emailInUse"
      >
        <span>Ein Konto mit der E-Mail Adresse existiert bereits.</span>
      </div>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.invalidEmail"
      >
        <span>Die angegebene E-Mail Adresse ist ungültig.</span>
      </div>
      <div
        class="error"
        *ngIf="
          registrationForm.errors &&
          (registrationForm.errors.operationNotAllowed ||
            registrationForm.errors.undefinedError)
        "
      >
        <span>Tut uns leid. Etwas ist schiefgelaufen.</span>
      </div>
      <div
        class="error"
        *ngIf="registrationForm.errors && registrationForm.errors.weakPassword"
      >
        <span>Das gewählte Passwort ist zu schwach.</span>
      </div>
    </div>
  </form>
</div>
