@import '../../../variables.scss';

.registration-head {
  text-align: center;
  margin-bottom: 2em;
  font-size: 0.8rem;

  h2 {
    color: $lightergreen;
  }
}

.registration-form {
  .registration-input {
    margin-bottom: 20px;
  }

  .address {
    display: grid;
    grid-template-columns: 6rem 1fr 5rem;
    grid-template-rows: auto;
    grid-column-gap: 12px;
    grid-template-areas:
      'street street number'
      'postcode city city';

    .postcode {
      grid-area: postcode;

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .city {
      grid-area: city;
    }

    .street {
      grid-area: street;
    }

    .streetnumber {
      grid-area: number;
    }
  }

  .agb {
    font-size: 0.7rem;
    margin-bottom: 20px;

    label {
      display: flex;
      align-items: center;

      p {
        display: block;
        flex: 1;
        margin-bottom: 0;
        margin-left: 5px;

        a {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }

  .subheadline {
    font-size: 0.8rem;
    margin-left: 0.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .button-and-error {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;

      .error {
        margin-bottom: 10px;
      }
    }

    .error {
      font-size: 0.7rem;
      margin-left: 20px;
      padding: 10px;
      background-color: lightcoral;
      border: 1px solid darkred;
      border-radius: 15px;
    }
  }

  .warning {
    color: $errorcolor;
    font-size: 0.7rem;
    margin-top: 1px;
    text-align: center;
  }
}

.success {
  margin-left: 2rem;
  font-size: 0.9rem;
}
