@import '../../../theme/variables.scss';

lk-warning-box {
  display: block;
  margin-top: 20px;
}

.registration-head {
  text-align: center;
  margin-bottom: 2em;

  h2 {
    color: $lightergreen;
  }
}

.registration-form {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  .registration-input {
    margin-bottom: 20px;
  }

  .address {
    display: grid;
    grid-template-columns: 6rem 1fr 5rem;
    grid-template-rows: auto;
    grid-column-gap: 12px;
    grid-template-areas:
      'street street number'
      'postcode city city'
      'confirmaddress confirmaddress confirmaddress';

    .postcode {
      grid-area: postcode;

      input[type='number'] {
        -moz-appearance: textfield;
      }

      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    .city {
      grid-area: city;
    }

    .street {
      grid-area: street;
    }

    .streetnumber {
      grid-area: number;
    }
  }

  .map-confirmation {
    position: relative;
    align-items: center;
    text-align: center;
    margin-left: -16px;
    margin-right: -16px;
    padding: 0;

    div.warning {
      display: inline-block;
      margin-left: 20px;
      height: 40px;
    }

    .confirmation-pin {
      width: 40px;
      position: absolute;
      z-index: 3;
      top: 180px;
      left: 50%;
      margin-left: -20px;
      cursor: pointer;
    }

    .disabled-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 40px;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 5;

      lk-button {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -100px;
        margin-top: 0px;
        width: 200px;
      }
    }

    .control-btns {
      position: absolute;
      z-index: 5;
      bottom: 10px;
      left: 10px;

      button {
        margin-right: 10px;
      }
    }

    lk-map {
      position: relative;
      z-index: 1;
      margin-top: 20px;
      margin-bottom: 20px;
      display: block;
      height: 300px;
      padding-left: -16px;
      padding-right: -16px;
      margin-left: -1;
    }
  }

  .agb {
    margin-top: 35px;
    margin-bottom: 35px;

    label {
      display: flex;
      align-items: center;

      div {
        display: block;
        flex: 1;
        margin-bottom: 0;
        margin-top: 2px;
        margin-left: 5px;
      }
    }
  }

  .subheadline {
    font-size: 1rem;
    margin-left: 0.2rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
  }

  .button-and-error {
    display: flex;
    align-items: center;

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;

      .error {
        margin-bottom: 10px;
      }
    }

    .error {
      font-size: 0.7rem;
      margin-left: 20px;
      padding: 10px;
      background-color: lightcoral;
      border: 1px solid darkred;
      border-radius: 15px;
    }

    .error-flat {
      color: $errorcolor;
      margin-left: 20px;
    }
  }

  .warning {
    color: $errorcolor;
    font-size: 0.8rem;
    margin-top: 1px;
    text-align: center;
  }
}

.success {
  margin-left: 2rem;
  font-size: 0.8em;
  color: $darkgreen;
}

.delete-profile {
  margin-top: 30px;
}

.button-container {
  width: 100%;
}

.cancel {
  float: left;
}

.save {
  float: right;
}

a {
  color: $appblack;
  text-decoration: underline;
}
