@import '../../theme/variables.scss';

.thankyou {
  padding: 1.2rem;
  padding-top: 2.4rem;

  @media screen and (min-width: 768px) {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }

  .shopping-thanks {
    text-align: center;
  }

  .thanks-headline {
    text-align: center;
    color: $darkgreen;
    margin-top: 40px;
  }

  .thanks-subheading {
    text-align: center;
    margin-top: 20px;
  }
}

.feedback-controls {
  margin-top: 1.2rem;

  lk-button {
    min-width: 130px;

    @media screen and (min-width: 768px) {
      min-width: 266px;
    }
  }
}

.feedback-verwerfen {
  float: right;
}

.content {
  margin-top: 1.2rem;
}

.feedback-error {
  margin: 1.2rem 0;
  color: $errorcolor;
  padding: 1.2rem;
}

a {
  color: $appblack;
}

label {
  display: flex;
}
