<div id="feedback-overlay">
  <div id="feedback-inset" *ngIf="!mailSent">
    <h1>Ihre Ideen sind uns wichtig</h1>

    <app-lk-textarea
      [(ngModel)]="message"
      [placeholder]="'Ihre Nachricht an uns'"
    ></app-lk-textarea>

    <div class="content">
      Möchten Sie Feedback von uns? <br />Dann hinterlassen Sie Ihre
      E-Mailadresse.
    </div>

    <app-lk-input
      [type]="email"
      [(ngModel)]="email"
      [placeholder]="'E-Mail Adresse'"
    ></app-lk-input>
    <div id="feedback-controls">
      <app-lk-button
        id="feedback-verwerfen"
        (click)="verwerfen()"
        label="verwerfen"
      ></app-lk-button>
      <app-lk-button
        id="feedback-absenden"
        (click)="absenden()"
        label="absenden"
      ></app-lk-button>
    </div>
  </div>
  <div class="feedback-error" *ngIf="showError">
    Bitte geben Sie einen Nachrichtentext ein und ggf. gültige E-Mail-Adresse
  </div>

  <div id="thankyou" *ngIf="mailSent">
    <div id="thanks-headline">Vielen Dank für Deine Feedback</div>
    <div id="thanks-subheading">
      Wir freuen uns über Deine Kommentare, Deine Anregungen, Dein Feedback,
      Deine Ideen und sogar Deine Kritik.
      <br />
      <br />Wir versuchen so schnell wie Möglich Deine Anliegen zu beantworten.
      <br />
      <br />Dein lokalkauf-Team
      <br />
      <br />
      <br />
      <app-lk-button
        (click)="goBack()"
        label="Schliessen und weiter"
      ></app-lk-button>
      <br />
    </div>
  </div>
</div>
