<lk-container>
  <div id="feedback-inset" *ngIf="!mailSent">
    <form [formGroup]="feedbackForm" (ngSubmit)="absenden()">
      <h1>Deine Ideen sind uns wichtig</h1>
      <lk-textarea
        [warn]="message.touched && message.invalid"
        formControlName="message"
        placeholder="Deine Nachricht an uns*"
      >
      </lk-textarea>
      <div class="warning" *ngIf="message.touched && message.invalid">
        Bitte gib in diesem Feld dein Feedback an.
      </div>

      <div class="content">
        Bitte hinterlasse hier Deine E-Mail Adresse. So wissen wir, wie wir Dich
        erreichen können.
      </div>

      <lk-input
        [warn]="email.touched && email.invalid"
        [type]="email"
        formControlName="email"
        placeholder="E-Mail Adresse*"
      ></lk-input>
      <div class="warning" *ngIf="email.touched && email.invalid">
        Bitte gib Deine E-Mail Adresse hier an.
      </div>

      <div class="content">
        <label>
          <app-lk-checkbox formControlName="agbRead"></app-lk-checkbox>
          <div>
            Ich bestätige die
            <a
              href="https://www.info.lokalkauf.org/agb"
              target="_blank"
              rel="noopener noreferrer"
              >AGB</a
            >
            und
            <a
              href="https://www.info.lokalkauf.org/datenschutz"
              target="_blank"
              rel="noopener noreferrer"
              >Datenschutzbestimmungen</a
            >
            gelesen zu haben und bin einverstanden*
          </div>
        </label>
        <div class="warning" *ngIf="agbRead.touched && agbRead.invalid">
          Um Deine Daten verarbeiten zu dürfen, brauchen wir Deine Zustimmung.
        </div>
      </div>

      <div class="feedback-controls">
        <lk-button type="submit" class="feedback-absenden" label="absenden">
        </lk-button>
        <lk-button
          class="feedback-verwerfen"
          (click)="verwerfen()"
          label="verwerfen"
        ></lk-button>
      </div>
    </form>
  </div>
  <div class="feedback-error" *ngIf="showError">
    Bitte gebe einen Nachrichtentext und eine gültige E-Mail-Adresse ein.
    <br />Bitte bestätige zudem die AGBs und Datenschutzbestimmungen.
  </div>

  <div class="thankyou" *ngIf="mailSent">
    <div class="thanks-headline">Vielen Dank für Dein Feedback</div>
    <div class="thanks-subheading">
      Wir freuen uns über Deine Kommentare, Deine Anregungen, Dein Feedback,<br />
      Deine Ideen und sogar Deine Kritik.
      <br />
      <br />Wir versuchen so schnell wie möglich Dein Anliegen zu beantworten.
      <br />
      <br />Dein lokalkauf-Team
      <br />
      <br />
      <div class="feedback-controls">
        <lk-button (click)="goBack()" label="Schliessen und weiter"></lk-button>
      </div>
    </div>
  </div>
</lk-container>
