<div id="faq-view-container">
  <h1>Tipps & Hilfestellung</h1>
  Wir freuen uns, dass Du Dich für lokalkauf entschieden hast.
  <br />Da wir noch in der Basisversion sind und keinen kompletten Online-Shop
  bieten, möchten wir Dir aber dennoch ein paar Tipps und Hilfestellungen geben,
  wie Du auch mit wenigen Mitteln einen optimalen Nutzen für Dich und Deine
  Kunden schaffst und wie Du unsere Plattform am besten nutzt.
  <br />
  <br />
  <ul>
    <li>
      <a (click)="scrollToElement(grundeinstellung)">Grundeinstellungen</a>
    </li>
    <li><a (click)="scrollToElement(beschreibung)">Beschreibungstext</a></li>
    <li><a (click)="scrollToElement(kontakt)">Kontaktmöglichkeiten</a></li>
    <li><a (click)="scrollToElement(upload)">Bilderupload</a></li>
  </ul>

  <a #grundeinstellung></a>
  <h2>Grundeinstellung</h2>
  Um einen schnellen Zugriff auf die App zu ermöglichen, kannst Du sie zu Deinem
  Home-Bildschirm hinzufügen. Folgend erläutern wir Dir kurz, wie das
  funktioniert:
  <h3>iOS</h3>
  <ol type="1">
    <li>öffne die Website in Safari</li>
    <li>drücke den Teilen-Button (Quadrat mit einem Pfeil nach oben)</li>
    <li>wähle „Zum Home-Bildschirm“</li>
    <li>Name bestätigen oder ändern und „Hinzufügen“ drücken</li>
  </ol>
  <h3>Android</h3>
  Chrome
  <ol type="1">
    <li>öffne die Website in Chrome</li>
    <li>tippe auf das Menü-Symbol</li>
    <li>wähle "Zum Startbildschirm hinzufügen"</li>
    <li>gib eine Bezeichnung ein und wähle "Hinzufügen"</li>
  </ol>
  Firefox
  <ol type="1">
    <li>öffne die Website in Firefox</li>
    <li>öffne das Drei-Punkte-Menü</li>
    <li>tippe auf "Seite"</li>
    <li>wähle "Zu Startbildschirm hinzufügen"</li>
  </ol>
  Über „Mein Händlerprofil“ im Menü kannst Du Dein Profil jederzeit bearbeiten
  und über das Häkchen „Profil veröffentlichen“ kannst Du Dein Profil auch
  jederzeit aus der Händlersuche entfernen, solltest Du das temporär wünschen.

  <a #beschreibung></a>
  <h2>Beschreibungstext</h2>
  Nutze den Beschreibungstext um Deine Kunden über alles zu informieren, was Du
  für wichtig hältst. Das können Deine Öffnungs-, Liefer- und Abholzeiten sein,
  Informationen zu Deinen Produkten und Angeboten oder auch dazu, wie der Kunde
  Dich am besten kontaktieren kann.

  <a #kontakt></a>
  <h2>Kontaktmöglichkeiten</h2>
  Gib Deinen Kunden die Möglichkeit Dich gut kontaktieren zu können. Das kann
  per E-Mail oder Telefon sein. Du kannst ihnen aber auch die Möglichkeit geben,
  Dich per Video-Call zu erreichen. Dies bietet Dir die Möglichkeit den Kunden
  Deine Waren zu zeigen und sie optimal zu beraten.
  <br />Und ein Video-Call ist heute auch gar nicht mehr so kompliziert, wir
  zählen Dir folgend ein paar Möglichkeiten:

  <h3>WhatsApp Call</h3>
  Fast jeder nutzt heute WhatsApp und auch hier gibt es eine Video-Call
  Funktion. Nenne dafür Deine Handynummer und bitte den Kunden Dir auch seine
  Nummer zu geben. So kannst Du ihn zu Deinen Kontakten hinzufügen und ihn bei
  WhatsApp finden. Mit einem Klick auf das Videokamera-Symbol startest Du den
  Video-Call.

  <h3>FaceTime</h3>
  Sollten Du und Dein Kunde ein iPhone besitzen, dann könnt ihr die FaceTime
  Funktion nutzen und euch so verknüpfen.

  <h3>Skype</h3>
  Solltest Du bereits ein Skype-Konto haben, nenne Deinen Skypenamen innerhalb
  des Beschreibungstextes und biete dem Kunden an, Dich über Skype zu
  kontaktieren. Solltest Du noch kein Skype-Konto haben, kannst Du Dir hier (<a
    href="https://www.skype.com/de/"
    target="_blank"
    rel="noopener noreferrer"
    >https://www.skype.com/de/</a
  >) ganz einfach eines anlegen und Skype installieren.

  <h3>Zoom</h3>
  Solltest Du bereits ein Zoom-Konto haben, nenne Deinen Zoom-Einwahllink und
  Deine ID innerhalb des Beschreibungstextes und biete dem Kunden an, Dich über
  Zoom zu kontaktieren. Solltest Du noch kein Zoom-Konto haben, kannst Du Dir
  hier (<a href="https://zoom.us/" target="_blank" rel="noopener noreferrer"
    >https://zoom.us/</a
  >) ganz einfach eines anlegen und Dich registrieren. Ein kostenfreies Konto
  genügt; hier hast Du bereits die Möglichkeit mit Deinem Kunden für unbegrenzte
  Zeit zu kommunizieren.
  <br />
  <br />Aber denk daran, wenn Du nicht konstant für Video-Calls bereitstehen
  möchtest, gib in Deiner Beschreibung an, wann Du verfügbar bist, sodass Deine
  Kunden wissen, wann sie Dich erreichen können.

  <a #upload></a>
  <h2>Bilderupload</h2>
  Aktuell kannst Du bei uns nur 3 Bilder hochladen, wir arbeiten aber daran,
  dass die Anzahl bald erhöht wird.
  <br />Bis dahin überlege Dir gut, welche Bilder Deinen Betrieb am besten
  widerspiegeln, Dein Sortiment im Überblick zeigen oder Dich unverwechselbar
  machen. Auch für Deine Stammkunden ist es leichter Dich zu finden, wenn sie
  Deinen Betrieb auf Deinen Bildern direkt wieder erkennen.
  <br />
  <br />Mit einem Klick auf das Bildsymbol kannst Du eines der Bilder zu Deinem
  Startbild machen, dass in der Suchübersicht angezeigt wird.
  <br />
  <br />
</div>
