<div>
  <h2>Dein Online-Shop</h2>

  Du hast einen eigenen Online-Shop?
  <br />Dann hinterlege Deinen Shop hier und er wird prominient auf deiner
  Händlerseite angezeigt:
  <br />

  <div class="onlineshop-container">
    <h4>
      Gebe hier die Addresse von Deinem Online-Shop ein:
    </h4>
    <div>
      <form [formGroup]="onlineshopForm" (ngSubmit)="onSubmit()">
        <div class="onlineshop-url">
          <lk-input placeholder="Dein Onlinehshop" formControlName="eigenershop" pattern="https?://.+"></lk-input>
        </div>
        <div>
          <lk-button [disabled]="onlineshopForm.errors != null" type="submit">Online-Shop speichern</lk-button>
          <span *ngIf="this.saveSuccessful" class="success">&nbsp;Speichern erfolgreich</span>
        </div>
      </form>
    </div>

  </div>
  <h4>Du hast noch keinen eigenen Online-Shop?</h4>
  Wenn Du schnell und einfach einen Shop anlegen möchtest, schau Dir mal
  <a href="https://www.sotrusty.com/" target="_blank">www.sotrusty.com <img src="./assets/so-trusty-mini.png" /></a>
  an. <br /><strong>Nachdem</strong> Du Deinen Shop angelegt hast, trägst Du
  einfach Deine Adresse oben in das Feld ein.
  <br />
  <div class="sotrusty-container">
    <div class="sotrusty-label">
      Anbieter zur Erstellung eigener Online-Shops:
    </div>
    <div class="ecommerce-providers-links">
      <a href="https://www.sotrusty.com/" target="_blank"><img class="ecommerce-provider-logo" src="./assets/so-trusty-small.png" /></a>
      <a href="https://www.shopify.de/" target="_blank"><img class="ecommerce-provider-logo"src="./assets/shopify-small.png" /></a>
      <a href="https://www.wix.com/html5ecom/tae-store" target="_blank"><img class="ecommerce-provider-logo" src="./assets/wix-small.png" /></a>
    </div>
  </div>
</div>