@import '../../../theme/variables.scss';

.password-reset-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;

  .button-and-error {
    display: block;
    align-items: center;
    text-align: center;

    .error {
      margin-top: 1.4rem;
      color: $errorcolor;
      font-size: 0.8rem;
    }
  }
}
