<div class="password-reset-head">
  <h2>
    Passwort vergessen
  </h2>
  Bitte gibt uns die Email Adresse deines Kontos damit wir dir einen Link zum
  Zurücksetzen deines Passworts zusenden können.
</div>

<form
  *ngIf="!emailSent"
  [formGroup]="passwordResetForm"
  (ngSubmit)="onSubmit()"
>
  <lk-input formControlName="email" name="login" placeholder="Email"></lk-input>
  <div class="button-and-error">
    <lk-button type="submit" label="Absenden"></lk-button>
    <div
      class="error"
      *ngIf="passwordResetForm.errors && passwordResetForm.errors.invalidMail"
    >
      <span>Die angegebene E-Mail Adresse ist ungültig.</span>
    </div>
    <div
      class="error"
      *ngIf="passwordResetForm.errors && passwordResetForm.errors.userNotFound"
    >
      <span>Der Benutzer konnte nicht gefunden werden.</span>
    </div>
    <div
      class="error"
      *ngIf="
        passwordResetForm.errors && passwordResetForm.errors.undefinedError
      "
    >
      <span>Tut uns leid, da ist entwas schiefgelaufen.</span>
    </div>
  </div>
</form>

<div *ngIf="emailSent">
  Eine Mail zum zurücksetzen des Passworts wurde an die angegebene Email Adresse
  versandt!
</div>
