<div class="password-reset-container">
  <lk-page-title
    title="Passwort vergessen"
    [subtitle]="
      !emailSent
        ? 'Bitte teile uns die E-Mail Adresse Deines Kontos mit, damit wir Dir einen Link zum Zurücksetzen Deines Passworts zusenden können.'
        : 'Eine E-Mail zum Zurücksetzen deines Passworts wurde an die angegebene E-Mail-Adresse versandt!'
    "
  ></lk-page-title>

  <form
    *ngIf="!emailSent"
    [formGroup]="passwordResetForm"
    (ngSubmit)="onSubmit()"
  >
    <lk-input
      formControlName="email"
      name="login"
      placeholder="Email"
    ></lk-input>
    <div class="button-and-error">
      <lk-button type="submit" label="Absenden"></lk-button>
      <div
        class="error"
        *ngIf="passwordResetForm.errors && passwordResetForm.errors.invalidMail"
      >
        <span>Die angegebene E-Mail Adresse ist ungültig.</span>
      </div>
      <div
        class="error"
        *ngIf="
          passwordResetForm.errors && passwordResetForm.errors.userNotFound
        "
      >
        <span>Der Benutzer konnte nicht gefunden werden.</span>
      </div>
      <div
        class="error"
        *ngIf="
          passwordResetForm.errors && passwordResetForm.errors.undefinedError
        "
      >
        <span>Tut uns leid, da ist etwas schiefgelaufen.</span>
      </div>
    </div>
  </form>
</div>
