<lk-container>
  <br />
  <br />
  <lk-page-title title="Stadtbummel"></lk-page-title>
  <div class="bookmarks-description">
    Genieße Deinen Ausflug in die Stadt und lerne Sie ganz neu kennen!
  </div>
  <div class="container">
    <div class="left-side">
      <ng-container *ngIf="(hasProfilesInBookmark$ | async) === 0">
        Füge in der Händerübersicht Deiner Stadt interssante Läden und und
        spannende Restaurants zu Deinem Einkaufbummel hinzu.
        <br />
        <br />Unter jedem Geschäft befindet sich ein Herz. Wenn das Herz grün
        leuchtet, dann hast Du es erfolgreich zugefügt. So einfach geht das!
        <br />
        <br />Wieviele Geschäfte und Orte Du entdecken willst, erkennst Du an
        der Zahl über dem Herzsymbol oben im Menü.
        <br />
        <br />Probiere es gleich aus!
      </ng-container>
      <ng-container *ngIf="(hasProfilesInBookmark$ | async) > 0">
        <mat-vertical-stepper
          #stepper
          (selectionChange)="stepperChange($event)"
        >
          <ng-template matStepperIcon="edit" let-index="index">
            {{ index + 1 }}
          </ng-template>
          <mat-step
            *ngFor="
              let profile of traderProfiles$ | async;
              let isFirst = first;
              let isLast = last
            "
          >
            <ng-template matStepperIcon="number" matStepLabel>{{
              profile.businessname
            }}</ng-template>
            <div class="trader-details">
              <ng-container *ngIf="profile.thumbUrl">
                <img src="{{ profile.thumbUrl }}" />
                <br />
              </ng-container>
              {{ profile.street }} {{ profile.number }} <br />
              {{ profile.postcode }} {{ profile.city }}
              <div>
                <a [routerLink]="'/trader-detail/' + profile.id"
                  >Geschäft besuchen</a
                >
              </div>
              <div>
                <button
                  *ngIf="isFirst === false"
                  mat-icon-button
                  matStepperPrevious
                >
                  <mat-icon>keyboard_arrow_up</mat-icon>
                </button>
                <button *ngIf="isLast === false" mat-icon-button matStepperNext>
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
              </div>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </ng-container>
    </div>
    <div class="right-side">
      <lk-container>
        <lk-map (mapMarkerClick)="clickCallback($event)"></lk-map>
        <div
          class="openrouteservice"
          *ngIf="showNavigationAttribution$ | async"
        >
          Routes by:
          <a
            href="https://openrouteservice.org/"
            target="_blank"
            rel="noopener noreferrer"
            >openrouteservice.org</a
          >
          | OpenStreetMap contributors
        </div>
      </lk-container>
    </div>
  </div>
  <ng-container *ngIf="(hasProfilesInBookmark$ | async) > 0">
    <div>
      <button mat-button (click)="deleteBookmarks()">
        <mat-icon>delete</mat-icon>
      </button>

      <button mat-button (click)="navigate()">
        <mat-icon>navigation</mat-icon>
      </button>
    </div>
  </ng-container>
</lk-container>
