@import '../../../variables.scss';

.link {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;

  .active {
    margin-top: 3px;
    height: 1px;
    border-radius: 10px;
    background-color: $lightestgreen;
  }
}

#scalingbar {
  overflow-x: scroll;
  white-space: nowrap;
  overflow-y: hide;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

@media only screen and (min-width: 800px) {
  #scalingbar {
    overflow-x: auto;
    white-space: normal;
  }
}
