<mat-form-field>
  <mat-label>{{ placeholder }}</mat-label>
  <input
    matInput
    [type]="type"
    [name]="name"
    [pattern]="pattern"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [maxLength]="maxLength"
    (blur)="onBlur()"
  />
  <!-- <mat-error *ngIf="value.invalid">erro: {{getErrorMessage()}}</mat-error> -->
</mat-form-field>

<!-- <input
  [type]="type"
  [placeholder]="placeholder"
  [name]="name"
  [(ngModel)]="value"
  (blur)="onBlur()"
  [ngClass]="{
    warn: warn
  }"
/> -->
