input {
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 100;
  min-width: 4rem;
  height: 2.4rem;
  letter-spacing: 1.5px;
  background-color: #ffffff;
  padding-left: 1rem;
  border: dashed 1px rgb(116, 181, 48);
  width: 100%;
}
