rules_version = '2';
  service firebase.storage {

  function isImage() {
    return request.resource.contentType.matches("image/.*");
  }
  function checkSize(n) {
    return request.resource.size < n * 1024 * 1024;
  }
  function isCurrentUser(uid) {
    return request.auth.uid == uid;
  }
  
  match /b/{bucket}/o {
    match /Traders/{uid}/{multiSegment=**} {
      allow read;
      allow write: if isCurrentUser(uid) && checkSize(7) && isImage();
      allow delete: if isCurrentUser(uid);
    }
  }
}
