@import '../../../variables.scss';

div {
  font-size: 0.9rem;
}

#shopping-thanks {
  text-align: center;
}

#thanks-headline {
  font-size: 1rem;
  font-weight: 200;
  text-align: center;
  color: $darkgreen;
  margin-top: 20px;
}

#thanks-subheading {
  text-align: center;
  margin-top: 20px;
}

#thanks-gofurther {
  text-align: center;
  bottom: 0px;
  margin-top: 50px;
}
