.carousel-control-next .carousel-control-prev {
  color: black;
}

.mat-icon {
  color: green;
  text-shadow: -1px 0 2px white, 0 1px 2px white, 1px 0 2px white,
    0 -1px 2px white;
}

.carousel-container {
  margin: 0px auto;
  border-radius: 20px;
  padding: 10px;
  background-size: cover;
}

.carousel-heading {
  margin-top: 5px;
  font-size: 0.9rem;
  color: grey;
  text-align: center;
}

.carousel-button {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.carousel {
  margin-bottom: 20px;
}
