<div
  [id]="randomId() + 'Controls'"
  class="carousel slide"
  data-ride="carousel"
  data-interval="false"
  *ngIf="randomId()"
>
  <div class="carousel-inner">
    <div
      class="carousel-item"
      *ngFor="let carouselSlide of carouselSlides"
      [class.active]="carouselSlide === carouselSlides[0]"
    >
      <div
        class="carousel-container"
        [style]="
          'background-image: url(' +
          carouselSlide.getImageUrl() +
          '); height: ' +
          getHeight() +
          '; width: ' +
          getWidth() +
          '; max-height: ' +
          getMaxWidth() +
          ';'
        "
      ></div>
      <div class="carousel-heading">
        {{ carouselSlide.getHeading() }}
      </div>
      <div class="carousel-button" *ngIf="carouselSlide.getLink()">
        <app-lk-button
          (click)="redirect(carouselSlide.getLink().getUrl())"
          [label]="carouselSlide.getLink().getName()"
        ></app-lk-button>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    [href]="'#' + randomId() + 'Controls'"
    role="button"
    data-slide="prev"
    *ngIf="carouselSlides.length > 1"
  >
    <mat-icon
      _ngcontent-xhm-c39=""
      role="button"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      aria-hidden="true"
      >chevron_left</mat-icon
    >
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    [href]="'#' + randomId() + 'Controls'"
    role="button"
    data-slide="next"
    *ngIf="carouselSlides.length > 1"
  >
    <mat-icon
      _ngcontent-xhm-c39=""
      role="button"
      class="mat-icon notranslate material-icons mat-icon-no-color"
      aria-hidden="true"
      >chevron_right</mat-icon
    >
    <span class="sr-only">Next</span>
  </a>
</div>
