.mat-card {
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 21px 0px rgba(0,0,0,0.2)!important;

  margin-left: 4px;
  margin-right: 4px;

  .image {
    display: inline-block;
    height: 100%;
    width: 300px;
    float: left;
  }

  .name-count {
    width: 40%;
    float: left;

    .count {
      .counterplusminus {
        width: calc(100% - 20px - 20px);

        .mat-raised-button {
          width: 10px;
        }

        input {
          width: 30%;
        }
      }
    }
  }

  .price-delete {
    width: 30%;
    float: left;
  }

  .clear {
    width: 100%;
    height: 1px;
    clear: both;
  }
}
