<mat-card class="shoppingcart-item">
  <div class="image">
    <img mat-card-avatar>
  </div>
  <div class="name-count">
    <div class="name">

    </div>
    <div class="count">
      <form>
        -
        <mat-form-field class="counterplusminus">
          <mat-label>Count</mat-label>
          <input matInput placeholder="1" type="number" />
        </mat-form-field>
        +
      </form>
    </div>
  </div>
  <div class="price-delete">
    <div class="price">
      12,99€
    </div>
    <div class="delete">
      <mat-icon>delete</mat-icon>
    </div>
  </div>
  <div class="clear">
  </div>
</mat-card>
