@import '../../theme/variables.scss';

.presse-container {
  display: flex;
  min-height: 150px;
  align-items: center;

  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  .presse-image {
    img {
      @media screen and (min-width: 768px) {
        width: 150px;
      }
    }
  }

  .image-impact-hub {
    width: 150px;
    padding-top: 5px;
    text-align: center;
    img {
      width: 130px;
      height: 140px;
    }
    background-color: #005a87;
  }

  .presse-link {
    padding: 0 20px 60px 20px;

    @media screen and (min-width: 768px) {
      padding: 0 20px 20px 20px;
    }

    a {
      color: $darkgreen;
    }
  }
}
