<lk-container>
  <h1>Presse über uns</h1>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/logo-impact-hub.png" />
    </div>
    <div class="presse-link">
      <h3>
        #WirVsVirus Solution Builder in the spotlight
      </h3>

      <a href="https://berlin.impacthub.net/wirvsvirus-solutionbuilder/" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/welt.png" />
    </div>
    <div class="presse-link">
      <h3>
        Diese Projekte helfen Geschäften und Restaurants in der Corona-Krise
      </h3>

      <a
        href="https://www.welt.de/wirtschaft/gruenderszene/article206873211/Corona-Krise-Diese-Projekte-helfen-Geschaeften-und-Restaurants.html
  "
        target="_blank"
        rel="noopener noreferrer"
      >
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/gruenderszene.png" />
    </div>
    <div class="presse-link">
      <h3>
        Diese Projekte unterstützen deine Lieblingsläden in der Corona-Krise
      </h3>

      <a href="https://www.gruenderszene.de/business/einzelhandel-corona-krise-unterstuetzung" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/bitkom.png" />
    </div>
    <div class="presse-link">
      <h3>Läden geschlossen – und jetzt? Was Händler tun können!</h3>

      <a href="https://www.bitkom.org/Themen/Corona/Handel" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/saarbrueckerzeitung.png" />
    </div>
    <div class="presse-link">
      <h3>Saar-Informatiker suchen Wege aus der Krise</h3>

      <a href="https://www.saarbruecker-zeitung.de/saarland/hochschule/teams-der-saar-uni-nehmen-an-gemeinschaftsaktion-gegen-corona-teil_aid-49749567" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/bigfm.png" />
    </div>
    <div class="presse-link">
      <h3>
        Support Your Locals: Das kannst Du tun, um Betrieben in Deiner Hood zu helfen
      </h3>

      <a href="https://www.bigfm.de/buzzhaltestelle/31051/einer-fuer-alle-alle-fuer-einen-so-koennt-ihr-eure-lieblingsbar-in-corona" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/onmeda.png" />
    </div>
    <div class="presse-link">
      <h3>Helfen in der Krise</h3>

      <a href="https://www.onmeda.de/coronaviren/helfen-in-der-corona-krise.html" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/ispo.png" />
    </div>
    <div class="presse-link">
      <h3>
        Krise als Chance: So können sich Sporthändler schnell einen Onlinekanal aufbauen
      </h3>

      <a href="https://www.ispo.com/unternehmen/krise-als-chance-so-koennen-sich-haendler-schnell-einen-onlinekanal-aufbauen" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>

  <div class="presse-container">
    <div class="presse-image">
      <img src="../../assets/presse/onlinepc.png" />
    </div>
    <div class="presse-link">
      <h3>
        Diese Initiativen und Plattformen unterstützen den Handel in Corona-Zeiten
      </h3>

      <a href="https://www.onlinepc.ch/business/e-commerce/initiativen-plattformen-unterstuetzen-handel-in-corona-zeiten-2525221.html" target="_blank" rel="noopener noreferrer">
        Artikel lesen
      </a>
    </div>
  </div>
</lk-container>
