<lk-container class="about-us">
  <lk-page-title title="Das sind wir"></lk-page-title>

  <div class="about-us-image">
    <img src="../../assets/about-us.jpg" alt="Unser Team" />
  </div>

  <div class="about-us-content">
    <p>
      Wir sind eine Gruppe von Developern, Wirtschaftsingenieuren, Projekt- und
      Innovationmanagern, die sich beim Hackathon der Bundesregierung
      #WirVsVirusHack im März 2020 gesucht und gefunden hat. Wir arbeiten seit
      März rein 2020 remote zusammen und haben uns noch nie physisch getroffen.
      <br />Das holen wir aber bald nach. 😊
    </p>

    <p>
      Von 1500 Projekten des Hackathon
      <a
        href="https://www.wirvsvirus.org/"
        target="_blank"
        rel="noopener noreferrer"
        >www.wirvsvirus.org</a
      >
      sind wir unter die <br />Top 130 des
      <a
        href="https://wirvsvirus.org/solution-enabler/"
        target="_blank"
        rel="noopener noreferrer"
        >Solution Enabler Programm</a
      >
      und dann unter die <br />Top 10 für den
      <a
        href="https://wirvsvirus.org/solution-builder/"
        target="_blank"
        rel="noopener noreferrer"
        >Builder gewählt</a
      >
      worden.
    </p>

    <p>
      Der Verein lokalkauf e.V. engagiert sich für den lokalen Einzelhandel.
      <br />Wir möchten mit der Kampagne „#ichkaufelokal – eine Entscheidung für
      Deine Stadt” das Bewusstsein schaffen, dass jeder ausgegebene Euro im
      lokalen Einzelhandel eine Investition ist. Für Deine Stadt und Deine
      Region!
    </p>
    <p>
      Wir haben neben der Kampagne eine kostenlose Plattform
      <a
        href="https://www.lokalkauf.org/"
        target="_blank"
        rel="noopener noreferrer"
        >www.lokalkauf.org</a
      >
      initiiert, die den lokalen Händler digital mit den Bürgern verbindet und
      die Region nachhaltig unterstützt, indem sie ein Bewusstsein für den
      lokalen Einzelhandel schafft und Händler und Gastronomen sich präsentieren
      können.
    </p>
  </div>
  <br />
  <div class="about-us-names">
    <ul>
      <li>Alexander Schieweck - Gründer, aktives Mitglied</li>
      <li>Björn Merschmeier - Gründer, aktives Mitglied</li>
      <li>Christian Aschoff - Gründer, aktives Mitglied</li>
      <li>Dipanjana Chaudhuri - aktives Mitglied</li>
      <li>Esther Constantin - aktives Mitglied</li>
      <li>Friederike Seidel - Vorstand, Gründer, aktives Mitglied</li>
      <li>Kai Nitsch - Gründer</li>
      <li>Konstantin Bücheler - Gründer, aktives Mitglied</li>
      <li>Ilja Leyberman - Gründer, passives Mitglied</li>
      <li>Lukas Schmyrczyk - Vorstand, Gründer, aktives Mitglied</li>
      <li>Maximilian Seidel - Vorstand, Gründer, aktives Mitglied</li>
      <li>Mina Paulus - Gründer, aktives Mitglied</li>
      <li>Patrick Simmelbauer - Gründer, passives Mitglied</li>
      <li>Philipp Salinski - Gründer, passives Mitglied</li>
      <li>Stefan Klement - Gründer, passives Mitglied</li>
      <li>Volkan Karakulak - Gründer, aktives Mitglied</li>
    </ul>
  </div>
  <br />

  <lk-page-title title="Supporter"></lk-page-title>
  <div class="about-us-names">
    <ul>
      <li>Christian Welkenbach - Datenschutz (TCI Rechtsanwälte)</li>
      <li>Elena Funk - Presse</li>
      <li>Mahesh Iyer - Konzeption Storyboard Film (Brandscape GmbH)</li>
      <li>Skirmante Rudaviciute - UX/UI Design (Fünfwerken Design AG)</li>
      <li>Stefan Scholz - Schnitt Film (Brandscape GmbH)</li>
      <li>
        Business School Student Marketing Resort - Instagram Social Media
        Account European
      </li>
      <li>Isabelle Schmidt</li>
      <li>Lena Magel</li>
      <li>Maximilian Link</li>
      <li>Natalia Lagereva</li>
      <li>Niklas Ruck</li>
      <li>Isabelle Schmidt</li>
      <li>Sven Gelhard</li>
      <li>Paula Keim</li>
      <li>Paul Bienwald</li>
    </ul>
  </div>

  <br />
  <div class="supporters-container">
    <div class="supporters-content">
      Vielen Dank für Eure Unterstützung des lokalen Einzelhandels und der
      Gastronomie!
    </div>
    <img src="../../assets/lokalkauf-pin.svg" />
  </div>
</lk-container>
