<div id="about-us-view-container">
  <div id="about-us-box">
    <img src="../../assets/about-us.jpg" alt="Team Bilder" />
    <div id="about-us-content">
      <div id="about-us-header">Das sind wir</div>
      Wir sind eine Gruppe von Developern, Wirtschaftsingenieuren, Projekt- und
      Innovationmanagern, die sich beim Hackathon der Bundesregierung
      #WirVsVirusHack gesucht und gefunden hat.
      <br />
      <br />Unsere Vision: Wir wollen eine gemeinnützige Plattform schaffen, die
      den lokalen Einzelhandel durch die Coronakrise trägt.

      <br />
      <br />Händler sollen die Möglichkeit haben, ihre Produkte mit einfachen
      Mitteln online zu präsentieren und zu verkaufen, ohne einen eigenen
      Onlineshop kreieren zu müssen. <br />Gleichzeitig möchten wir mit
      Menschen, die durch die Krise ihren Job verloren haben, sich Geld dazu
      verdienen möchten oder auch einfach mit freiwilligen Helferlein ein
      Lieferantennetzwerk aufbauen, durch das Produkte direkt zu jedem nachhause
      kommen können. Um so schnell es geht Abhilfe zu schaffen, haben wir uns
      dazu entschlossen nicht zu warten, sondern mit einer Basisversion zu
      starten bis wir unsere komplette Idee online bringen können.
      <br />
      <br />Wir möchten Geschäfte so schnell wie möglich wieder mit Ihren Kunden
      zusammenbringen zu können. Auf unserer Plattform findet Ihr alle Betriebe
      in Eurem Umkreis, bei denen Ihr etwas bestellen könnt. Und als Betrieb
      kannst Du Dich registrieren und beschreiben, was Du zu bieten hast. Für
      die Abholung, Lieferung und Bezahlung seid Ihr in der Basis-Version noch
      selbst verantwortlich. <br />Aber Ihr könnt sicher sein: Neben unseren
      normalen Jobs, arbeiten wir stetig daran, unsere Plattform weiter zu
      entwickeln. Unser Ziel ist es, unserer Vision immer näher zu kommen.
      <br />Du möchtest auf dem Laufenden bleiben und wissen, wie weit wir sind?
      Dann melde Dich gern hier an. Alle wichtigsten Informationen und
      Neuigkeiten senden wir Dir per E-Mail. <br />Du möchtest uns ein Feedback
      geben oder hast Vorschläge, was wir noch verbessern können? Dann melde
      Dich bei uns und hilf uns dabei, lokalkauf weiterzuentwickeln.
      <br />
      <br />
      <div class="about-us-box">
        <div class="about-us-names">
          Alexander Schieweck<br />Björn Merschmeier<br />Christian Aschoff<br />Friederike
          Seidel<br />Kai Nitsch<br />Konstantin Bücheler<br />Ilja Leyberman
        </div>

        <div class="about-us-names">
          Lukas Schmyrczyk<br />Maximilian Seidel<br />Mina Paulus<br />Patrick
          Simmelbauer<br />Philipp Salinski<br />
          Stefan Klement<br />Volkan Karakulak
        </div>
      </div>
    </div>
  </div>
</div>
