<lk-container class="about-us">
  <lk-page-title title="Das sind wir"></lk-page-title>

  <div class="about-us-image">
    <img src="../../assets/about-us.jpg" alt="Unser Team" />
  </div>

  <div class="about-us-content">
    <p>
      Wir sind eine Gruppe von Developern, Wirtschaftsingenieuren, Projekt- und
      Innovationmanagern, die sich beim Hackathon der Bundesregierung
      #WirVsVirusHack gesucht und gefunden hat.
    </p>
    <p>
      Unsere Vision: Wir wollen eine gemeinnützige Plattform schaffen, die den
      lokalen Einzelhandel durch die Coronakrise trägt.
    </p>
    <p>
      Händler sollen die Möglichkeit haben, ihre Produkte mit einfachen Mitteln
      online zu präsentieren und zu verkaufen, ohne einen eigenen Onlineshop
      kreieren zu müssen. <br />Gleichzeitig möchten wir mit Menschen, die durch
      die Krise ihren Job verloren haben, sich Geld dazu verdienen möchten oder
      auch einfach mit freiwilligen Helferlein ein Lieferantennetzwerk aufbauen,
      durch das Produkte direkt zu jedem nachhause kommen können. Um so schnell
      es geht Abhilfe zu schaffen, haben wir uns dazu entschlossen nicht zu
      warten, sondern mit einer Basisversion zu starten bis wir unsere komplette
      Idee online bringen können.
    </p>
    <p>
      Wir möchten Geschäfte so schnell wie möglich wieder mit Ihren Kunden
      zusammenbringen zu können. Auf unserer Plattform findet Ihr alle Betriebe
      in Eurem Umkreis, bei denen Ihr etwas bestellen könnt. Und als Betrieb
      kannst Du Dich registrieren und beschreiben, was Du zu bieten hast. Für
      die Abholung, Lieferung und Bezahlung seid Ihr in der Basis-Version noch
      selbst verantwortlich. <br />Aber Ihr könnt sicher sein: Neben unseren
      normalen Jobs, arbeiten wir stetig daran, unsere Plattform weiter zu
      entwickeln. Unser Ziel ist es, unserer Vision immer näher zu kommen.
      <br />Du möchtest auf dem Laufenden bleiben und wissen, wie weit wir sind?
      Dann melde Dich gern hier an. Alle wichtigsten Informationen und
      Neuigkeiten senden wir Dir per E-Mail. <br />Du möchtest uns ein Feedback
      geben oder hast Vorschläge, was wir noch verbessern können? Dann melde
      Dich bei uns und hilf uns dabei, lokalkauf weiterzuentwickeln.
    </p>
  </div>

  <div
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayout.xs="column"
    fxLayoutAlign.xs="start center"
    class="about-us-names"
  >
    <div fxFlex="50" fxLayout="row wrap" fxLayout.xs="column">
      <div fxFlex="50">Alexander Schieweck</div>
      <div fxFlex="50">Björn Merschmeier</div>
      <div fxFlex="50">Christian Aschoff</div>
      <div fxFlex="50">Friederike Seidel</div>
      <div fxFlex="50">Kai Nitsch</div>
      <div fxFlex="50">Konstantin Bücheler</div>
      <div fxFlex="50">Ilja Leyberman</div>
      <div fxFlex="50">Lukas Schmyrczyk</div>
      <div fxFlex="50">Maximilian Seidel</div>
      <div fxFlex="50">Mina Paulus</div>
      <div fxFlex="50">Patrick Simmelbauer</div>
      <div fxFlex="50">Philipp Salinski</div>
      <div fxFlex="50">Stefan Klement</div>
      <div fxFlex="50">Volkan Karakulak</div>
    </div>
  </div>

  <br />
  <lk-page-title title="Supporters"></lk-page-title>

  <div class="supporters-container">
    <div class="supporters-content">
      Vielen Dank für eure Unterstützung des lokalen Einzelhandel und
      Gastronomie
    </div>
    <img src="../../assets/lokalkauf-pin.svg" />
  </div>
  <div class="about-us-names">
    Esther Constantin - Design / UX Design -
    <a
      href="https://www.fuenfwerken.com/"
      target="_blank"
      rel="noopener noreferrer"
      >fuenfwerken design AG</a
    >
    <br />Skirmante Rudaviciute - Design / UX Design -
    <a
      href="https://www.fuenfwerken.com/"
      target="_blank"
      rel="noopener noreferrer"
      >fuenfwerken design AG</a
    >
    <br />
    <br />Christian Welkenbach - Rechtsanwalt / Partner -
    <a
      href="https://www.tcilaw.de/kanzlei/tci/standort/mainz/"
      target="_blank"
      rel="noopener noreferrer"
      >TCI Rechtsanwälte Mainz</a
    >
    <br />
    <br />Oliver Geibel - Film Storyboad -
    <a
      href="https://www.northwind-visuals.com/"
      target="_blank"
      rel="noopener noreferrer"
      >Northwind Visuals Film</a
    >
    <br />
    <br />Elena Funk - Presse
    <br />
    <br />
  </div>
</lk-container>
