.about-us {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;

  img {
    display: block;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-bottom: 20px;

    @media screen and (min-width: 600px) {
      margin: 0 auto;
      width: 600px;
    }
  }

  .about-us-content {
    text-align: justify;

    .about-us-box {
      display: flex;
      padding-top: 2rem;
      max-width: 24rem;
      margin-left: auto;
      margin-right: auto;

      .about-us-names {
        width: 50%;
        text-align: center;
        font-size: 0.8rem;
        padding-bottom: 2rem;
      }
    }
  }
}
