.about-us {
  .about-us-image {
    text-align: center;

    img {
      width: 100%;
      max-width: 992px;
    }
  }

  .about-us-content {
    text-align: justify;
  }

  .supporters-container {
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .supporters-content {
      text-align: center;
    }

    img {
      width: 24px;
      height: 24px;
      margin: 6px;
    }
  }

  .about-us-names {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 40px;
  }
}
