<mat-form-field>
  <mat-label>{{ placeholder | async }}</mat-label>
  <select
    matNativeControl
    [name]="name"
    [(ngModel)]="internalValue"
    [compareWith]="comparer"
    (blur)="onTouched($event)"
  >
    <option
      *ngIf="placeholder | async"
      value="DEFAULT"
      hidden
      disabled
      selected
      >{{ placeholder | async }}</option
    >
    <option [ngValue]="item.value" *ngFor="let item of options | async">{{
      item.display
    }}</option>
  </select>
</mat-form-field>
