<div class="delete-user">
  <h2>Profil löschen</h2>
  Bitte gib dein Passwort ein um Dein Profil zu löschen. Dieser Vorgang kann
  nicht rückgängig gemacht werden!

  <div class="password">
    <lk-input
      type="password"
      [formControl]="password"
      placeholder="Passwort"
    ></lk-input>
  </div>

  <div class="buttons">
    <lk-button
      [warn]="true"
      (click)="performDelete()"
      label="Löschen"
    ></lk-button>
    <lk-button (click)="abort()" label="abbrechen"></lk-button>
  </div>
</div>
