@import '../../../theme/variables.scss';

.info {
  text-align: center;
  font-size: 0.8rem;
}

form {
  margin-top: 50px;
  text-align: center;

  .login-inputs {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #lk-button-container {
    margin-top: 20px;
  }

  .button-and-error {
    display: block;
    align-items: center;
    text-align: center;

    .error {
      margin-top: 1.4rem;
      color: $errorcolor;
      font-size: 0.8rem;
    }
  }
}
