@import '../../../theme/variables.scss';

.login-head {
  text-align: center;
  margin-bottom: 40px;
  font-size: 0.8rem;

  h2 {
    color: $lightergreen;
  }
}

.info {
  text-align: center;
  font-size: 0.8rem;
}

form {
  margin-top: 50px;
  text-align: center;

  lk-input {
    display: inline-block;
    margin-bottom: 20px !important;
    max-width: 500px;
    margin: 0 10px;
    width: 70%;
  }

  #lk-button-container {
    margin-top: 20px;
  }

  .button-and-error {
    display: block;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
    }

    .error {
      margin-top: 1.4rem;
      color: $errorcolor;
      font-size: 0.8rem;
    }
  }
}
