<lk-container>
  <h1>{{ texts.haendlerlogin_title | text }}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login-inputs">
      <lk-input
        formControlName="email"
        name="login"
        [placeholder]="texts.email | text"
      ></lk-input>
      <lk-input
        formControlName="password"
        type="password"
        name="password"
        [placeholder]="texts.password | text"
      >
      </lk-input>
    </div>

    <lk-button type=" submit" [label]="texts.anmelden | text"> </lk-button>

    <div class="button-and-error">
      <div
        class="error"
        *ngIf="loginForm.errors && loginForm.errors.userDisabled"
      >
        <span>Dieser Benutzer ist deaktiviert.</span>
      </div>
      <div
        class="error"
        *ngIf="loginForm.errors && loginForm.errors.invalidMail"
      >
        <span>Die angegebene E-Mail Adresse ist ungültig.</span>
      </div>
      <div
        class="error"
        *ngIf="loginForm.errors && loginForm.errors.userNotFound"
      >
        <span>Der Benutzer konnte nicht gefunden werden.</span>
      </div>
      <div
        class="error"
        *ngIf="loginForm.errors && loginForm.errors.wrongPassword"
      >
        <span>Das angegebene Passwort ist falsch.</span>
      </div>
      <div
        class="error"
        *ngIf="loginForm.errors && loginForm.errors.undefinedError"
      >
        <span>Tut uns leid, da ist entwas schiefgelaufen.</span>
      </div>
    </div>
  </form>
  <br />
  <div class="info">
    {{ texts.haendlerlogin_noch_kein_konto | text }}
    <a routerLink="/trader/register/new">{{
      texts.haendlerlogin_noch_kein_konto_linktext | text
    }}</a>
    <br />
    <a routerLink="/trader/password-reset">{{
      texts.haendlerlogin_passwort_vergessen | text
    }}</a>
    <br />
    <br />
  </div>
</lk-container>
