<app-lk-page-title title="Händler Login"></app-lk-page-title>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-lk-input
    formControlName="email"
    name="login"
    placeholder="Email"
  ></app-lk-input>
  <app-lk-input
    formControlName="password"
    type="password"
    name="password"
    placeholder="Passwort"
  ></app-lk-input>
  <app-lk-button type="submit" label="Login"></app-lk-button>
  <div class="button-and-error">
    <div
      class="error"
      *ngIf="loginForm.errors && loginForm.errors.userDisabled"
    >
      <span>Dieser Benutzer ist deaktiviert.</span>
    </div>
    <div class="error" *ngIf="loginForm.errors && loginForm.errors.invalidMail">
      <span>Die angegebene E-Mail Adresse ist ungültig.</span>
    </div>
    <div
      class="error"
      *ngIf="loginForm.errors && loginForm.errors.userNotFound"
    >
      <span>Der Benutzer konnte nicht gefunden werden.</span>
    </div>
    <div
      class="error"
      *ngIf="loginForm.errors && loginForm.errors.wrongPassword"
    >
      <span>Das angegebene Passwort ist falsch.</span>
    </div>
    <div
      class="error"
      *ngIf="loginForm.errors && loginForm.errors.undefinedError"
    >
      <span>Tut uns leid, da ist entwas schiefgelaufen.</span>
    </div>
  </div>
</form>
<br />
<div class="info">
  Noch kein Konto? <a routerLink="/trader/register">Dann gehts hier lang</a>
  <br />
  <a routerLink="/trader/password-reset">Paswort vergessen</a>
</div>
