.mat-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: auto;
  }
}

#details {
  margin-left: 3%;
  margin-right: 3%;
}

h1 {
  font-size: 16pt;
  font-weight: bolder;
}

#description {

}

#price {
  color: rgb(152, 211, 90);
}
