@import '../../theme/variables.scss';

.hero {
  position: relative;
  background-image: url('/assets/backpane-hipster.jpeg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: 50% 20%;

  .hero-search-container {
    position: absolute;
    bottom: 10%;
    width: 100%;

    lk-container {
      text-align: center;

      lk-button {
        width: 266px;
      }
    }
  }
}

.intro {
  text-align: center;
  padding: 20px;

  p {
    margin-bottom: 40px;
  }

  lk-button {
    width: 266px;
  }
}

.doubleheart {
  margin: 70px auto 16px auto;
  width: 180px;
  height: 130px;
  position: relative;

  img {
    width: 80px;
    position: absolute;

    &:first-of-type {
      left: 0px;
    }

    &:nth-of-type(2) {
      top: 30px;
      left: 100px;
    }
  }
}

.our-mission {
  text-align: center;
  padding: 35px 20px;
}

.user-voice {
  text-align: center;
  margin-top: 35px;
  padding: 20px 35px 50px 35px;
  background-color: $normalgreen;
  color: #fff;

  h2 {
    color: #fff;
  }
}

lk-search-input {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
