<!-- <app-horizontal-scaling-bar [links]="links" (clickedLink)="consoleLog($event);">
</app-horizontal-scaling-bar>-->
<div class="hero">
  <div class="start-logo-top">
    <img src="/assets/lokalkaufTopx4-logo-shadow.png" />
  </div>
  <div class="start-logo-bottom">
    <img src="/assets/lokalkaufTopx4-text-shadow.png" />
  </div>
</div>

<div class="home-start">
  <div class="intro-text">
    <div id="backdrop-start"></div>
    <div class="intro-text-box">
      Du kannst bei Deinem Lieblingsladen, Lieblingsrestaurant oder
      Lieblingscafé nicht mehr vor Ort einkaufen?
      <br />
      <br />Du bist ein Einzelhändler oder Gastronom und musstest deinen Laden
      schließen?
      <br />
      <br />Wir bringen Euch wieder zusammen.
    </div>
    <div class="divider"></div>
    <div class="intro-text-box">
      Finde hier Deinen Lieblingsladen oder ein Restaurant um die Ecke und kauf
      lokal:

      <!-- <br />
      <button mat-flat-button color="primary">primary</button>
      <button mat-flat-button color="accent">Accent</button> -->
    </div>

    <div id="start-input-container">
      <div class="start-input-center">
        <app-lk-select
          #startTownList
          id="start-select"
          name="standort"
          [options]="standorte"
          [placeholder]="standortPreselect"
        >
        </app-lk-select>
      </div>

      <!-- 
      <div class="start-input-center">
        <app-lk-select
          #storeTypeList
          id="store-types"
          name="storeTypes"
          [options]="storeTypes"
          [placeholder]="storeTypePreselect"
        >
        </app-lk-select>
      </div>
      -->

      <div class="start-input-center">
        <!--
        <input type="hidden" id="start-input" placeholder="Coords" [(ngModel)]="coords" [value]="coovalue" />
        <input id="plz-input" #plzInput type="text" name="coordbox" placeholder="PLZ" matInput [matAutocomplete]="auto"
          (keyup)="search($event.target.value)" (focus)="focus()" *ngIf="!coovalue" />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of suggestion" [value]="option.plz + ' ' + option.note"
            (click)="setposition(option.geo_point_2d)">
            {{ option.plz }} {{ option.note }}
          </mat-option>
        </mat-autocomplete>
        <div id="start-long-lat" *ngIf="coovalue">
          GPS-Umkreisermittlung: 5km
        </div>
        <app-lk-button id="start-button" (click)="action()" label="los" [disabled]="disabledLosButton">
        </app-lk-button>
        -->
        <button
          mat-flat-button
          color="primary"
          (click)="reducedAction(startTownList)"
        >
          Jetzt suchen!
        </button>
        <!-- <app-lk-button
          id="start-button-intial-towns"
          (click)="reducedAction(startTownList)"
          label="Jetzt suchen!"
        >
        </app-lk-button> -->
      </div>
      <!--<div id="start-error" *ngIf="showError">
        Bitte geben Sie eine Postleitzahl an oder aktivieren Sie Ihr GPS
      </div>-->
    </div>
    h
    <div class="divider"></div>

    <div *ngIf="!isLoggedIn">
      <div class="additional-intro-text">
        Du bist Einzelhändler oder Gastronom? Dann melde Dich hier an:
      </div>
      <div>
        <button mat-flat-button color="accent" [routerLink]="'/trader/login'">
          Geschäftsprofil anlegen
        </button>
      </div>
    </div>

    <div *ngIf="isLoggedIn">
      <div class="additional-intro-text">
        Hier gehts zu deinem Profil:
      </div>
      <div>
        <button mat-flat-button color="accent" [routerLink]="'/trader/profile'">
          Mein Händlerprofil
        </button>
      </div>
    </div>

    <div class="additional-intro-text">
      <div class="intro-text-hint">
        Unsere Plattform befindet sich aktuell noch in der Entwicklung. Hast Du
        noch
        <a [routerLink]="'/feedback'">Ideen oder Feedback</a>?
      </div>
    </div>
  </div>
</div>
