.create-product {
  form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;

    grid-template-areas:
      'image image image image'
      'name name name .'
      'price price . .'
      'description description description description'
      'cancel . . submit';

    @media screen and (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        'image'
        'name'
        'price'
        'description'
        'cancelSubmit';
    }

    .product-image {
      grid-area: image;
      padding: 20px;
      border-radius: 10px;
      border: 1px solid grey;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      text-align: center;
      line-height: 100%;

      input {
        display: none;
      }

      .label {
        margin-left: 20px;
        height: 100%;
        line-height: 100%;
        text-align: center;
      }

      .add-image-icon {
        position: block;
        width: 100px;
        height: 100px;
        font-size: 100px;
      }

      .uploaded-image {
        background-size: cover;
        width: 100px;
        height: 100px;
      }
    }

    .product-name {
      grid-area: name;
    }

    .product-category {
      grid-area: category;
    }

    .product-price {
      grid-area: price;
    }

    .product-description {
      grid-area: description;
    }

    .button-submit {
      grid-area: submit;
      justify-self: unset;

      @media screen and (max-width: 640px) {
        grid-area: cancelSubmit;
        justify-self: end;
      }
    }

    .button-cancel {
      grid-area: cancel;

      @media screen and (max-width: 640px) {
        grid-area: cancelSubmit;
      }

      justify-self: start;
    }
  }

  .move-right {
    margin-left: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}
