<lk-container>
  <!-- <div class="traders-map-row">
    <app-map
      class="tradersmap"
      (locationsOnMap)="updateLocations($event)"
    ></app-map>
  </div> -->
  <app-warning-box
    content="Unsere Plattform befindet sich in der Testphase. Diese Testphase beschränkt
  sich aktuell auf die Händler in ausgewählten Städten!"
  >
  </app-warning-box>
  <div class="traders-overview-row" *ngIf="hasLocations">
    <app-lk-page-title title="Alles aus Deiner Nähe"></app-lk-page-title>
    <!-- <div class="traders-input-center">
      <lk-select
        #storeTypeList
        class="store-types"
        name="storeType"
        [options]="storeTypes"
        [placeholder]="storeTypePreselect"
      >
      </lk-select>
    </div>
    <div class="traders-input-center">
      <lk-button
        class="shop-types-button"
        (click)="reducedAction(storeTypeList)"
        label="Jetzt filtern!"
      >
      </lk-button>
    </div> -->

    <lk-chip-list [items]="storeTypes"> </lk-chip-list>

    <div class="traders-overview-content">
      <app-trader-item
        *ngFor="let trader of traders"
        [trader]="trader"
      ></app-trader-item>
    </div>
  </div>
  <div class="no-result-message" *ngIf="!hasLocations">
    Leider wurden in deinem Umkreis keine Händler gefunden. Unsere Plattform
    befindet sich aktuell im Aufbau, so dass wir noch nicht in allen Regionen
    Deutschland vertreten sind.
  </div>
</lk-container>
