<lk-container>
  <div class="traders-overview-row" *ngIf="(hasLocations$ | async) === true">
    <lk-page-title title="Alles aus Deiner Nähe"></lk-page-title>
    <lk-chip-list
      [items]="storeTypes"
      [selectedKey]="selectedTrader ? selectedTrader.key : '1'"
      (lkChipListChange)="setStoreType($event)"
    >
    </lk-chip-list>

    <div class="slider">
      <div class="slider-form">
        <form [formGroup]="rangeGroup">
          <lk-slider
            class="slider"
            [min]="10"
            [max]="100"
            formControlName="range"
            (changingEvent)="setRange($event)"
          >
          </lk-slider>
        </form>
      </div>
      <div class="slider-info">{{rangeChanging$ | async}} km</div>
    </div>

    <div class="traders-overview-content">
      <app-trader-item
        *ngFor="let location of locations"
        [trader]="location"
      ></app-trader-item>
    </div>
  </div>
  <div class="slider" *ngIf="(hasLocations$ | async) === false">
    <div class="slider-form">
      <form [formGroup]="rangeGroup">
        <lk-slider
          class="slider"
          [min]="10"
          [max]="100"
          formControlName="range"
          (changingEvent)="setRange($event)"
        >
        </lk-slider>
      </form>
    </div>
    <div class="slider-info">{{rangeChanging$ | async}} km</div>
  </div>

  <div class="no-result-message" *ngIf="(hasLocations$ | async) === false">
    Leider wurden in Deinem Umkreis keine Händler gefunden. Unsere Plattform
    befindet sich aktuell im Aufbau, so dass wir noch nicht in allen Regionen
    Deutschlands vertreten sind.
    <br />
    <br />Möchtest Du schnell und einfach helfen? Dann mache Deine Freunde,
    Lieblingshändler und Lieblingsgastronomen auf lokalkauf aufmerksam und teile
    unseren Link:
    <br />
    <br />
    <div class="social-button-row">
      <a
        mat-fab
        color="share-facebook"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.lokalkauf.org"
        target="_blank"
      >
        <fa-icon
          [icon]="faFacebookF"
          size="lg"
          [styles]="{'color': 'white'}"
        ></fa-icon>
      </a>
      <a
        mat-fab
        color="share-twitter"
        href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.lokalkauf.org&text=Bitte%20teilt%20lokalkauf%20an%20unsere%20Lieblingsh%C3%A4ndler%2C%20damit%20die%20ersten%20L%C3%A4den%20auch%20aus%20unserer%20Gegend%20gelistet%20werden!&hashtags=lokalkauf%20%23helfen%20%23einzelhandel%20%23wirvsvirushack&via=lokalkauf"
        target="_blank"
      >
        <fa-icon
          [icon]="faTwitter"
          size="lg"
          [styles]="{'color': 'white'}"
        ></fa-icon>
      </a>
      <a
        mat-fab
        color="share-instagram"
        href="https://www.instagram.com/lokalkauf/"
        target="_blank"
      >
        <fa-icon
          [icon]="faInstagram"
          size="lg"
          [styles]="{'color': 'white'}"
        ></fa-icon>
      </a>
      <a
        mat-fab
        color="share-whatsapp"
        href="https://api.whatsapp.com/send?phone=&text=Bitte%20teilt%20lokalkauf%20an%20unsere%20Lieblingsh%c3%a4ndler%2c%20damit%20die%20ersten%20L%c3%a4den%20auch%20aus%20unserer%20Gegend%20gelistet%20werden%21%20%23lokalkauf%20%23helfen%20%23einzelhandel%20%23wirvsvirushack%0d%0ahttps%3a%2f%2fwww.lokalkauf.org&source=&data=&app_absent="
        target="_blank"
      >
        <fa-icon
          [icon]="faWhatsapp"
          size="lg"
          [styles]="{'color': 'white'}"
        ></fa-icon>
      </a>
    </div>

    <div class="haendler" *ngIf="(userService.isLoggedIn$ | async) === (false)">
      Du bist Händler? Dann sei der Erste in Deiner Stadt und melde Dich jetzt
      an!
      <div>
        <lk-button
          [routerLink]="['/trader/register/new']"
          [label]="(text.start_button_haender_anmelden | text)"
        >
        </lk-button>
      </div>
    </div>
  </div>
</lk-container>
