.trader-overview {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1.5rem;
  width: calc(100% - 40px);
  max-width: 900px;
  justify-content: space-around;
  background-color: #fff;
  margin-top: 120%;
}

.tradersmap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
