@import '../../../theme/variables.scss';

app-warning-box {
  display: block;
  margin-top: 20px;
}

lk-navigation-chips {
  display: block;
}

.traders-map-row {
  height: 50%;
  max-height: 26rem;
}

.traders-overview-row {
  width: 100%;
}

.tradersmap {
  top: 0rem;
  z-index: 0;
  height: 50%;
  max-height: 26rem;
  position: fixed;

  @media screen and (max-width: 767px) {
    width: 100%;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

.traders-overview-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.traders-input-center {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.traders-input-center {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

app-trader-item {
  margin-bottom: 16px;
}

.no-result-message {
  display: block;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
