@import '../../../theme/variables.scss';

lk-warning-box {
  display: block;
  margin-top: 20px;
}

lk-navigation-chips {
  display: block;
}

.traders-map-row {
  height: 50%;
  max-height: 26rem;
}

.traders-overview-row {
  width: 100%;
}

.tradersmap {
  top: 0rem;
  z-index: 0;
  height: 50%;
  max-height: 26rem;
  position: fixed;

  @media screen and (max-width: 767px) {
    width: 100%;
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 768px) {
    width: 740px;
    margin-left: auto;
    margin-right: auto;
  }
}

.traders-overview-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

.traders-input-center {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.traders-input-center {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

app-trader-item {
  margin-bottom: 16px;
}

.no-result-message {
  display: block;
  max-width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.social-button-row a {
  margin: 8px;
}

.mat-share-facebook {
  background-color: #3b5998;
}

.mat-share-twitter {
  background-color: #00acee;
}

.mat-share-whatsapp {
  background-color: #4fce5d;
}

.mat-share-instagram {
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.haendler {
  margin-top: 20px;

  div {
    padding-top: 20px;
  }
}
