@import '../../../variables.scss';

.app-map {
  height: 100%;
  width: 100%;
}

.my-pos-icon {
  background-color: $intensivered;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
