<div class="create-product">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
		<div class="trader-email">
			<input appLkInput type="email" formControlName="email" placeholder="Email">
		</div>
		<div class="trader-password">
			<input appLkInput type="password" formControlName="password" placeholder="Passwort">
		</div>
		<div class="trader-password-repeat">
			<input appLkInput type="password" formControlName="passwordRepeat" placeholder="Passwort">
		</div>
		<button [disabled]="!productForm.valid">Registrieren</button>
	</form>
</div>
