<div class="registration-form">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="registration-input">
      <app-lk-input
        type="email"
        formControlName="email"
        placeholder="Email"
      ></app-lk-input>
    </div>
    <div class="registration-input">
      <app-lk-input
        type="password"
        formControlName="password"
        placeholder="Passwort"
      ></app-lk-input>
    </div>
    <div class="registration-input">
      <app-lk-input
        type="password"
        formControlName="passwordRepeat"
        placeholder="Passwort widerholen"
      ></app-lk-input>
    </div>
    <app-lk-button
      [disabled]="!productForm.valid"
      label="Registrieren"
    ></app-lk-button>
  </form>
</div>
