<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="rating-star">
  <ngx-star-rating
    [(ngModel)]="ratingStar"
    [id]="'ratingStars'"
    [disabled]="disabled"
    (change)="changeRate($event)"
  ></ngx-star-rating>
</div>

<!--  USAGE EXAMPLE

In *.html
  <form [formGroup]="ratingForm">
    <app-rating-star initialRating="2" (finalRating)="changeRating($event)" >Show me</app-rating-star>
    <div>Rating: {{rating}}</div>
  </form>

----

In *.ts
  rating = 0;

  changeRating(newVal) {
    this.rating = newVal;
  }

-->
