<label class="image-chooser">
  <div
    class="selected-image"
    *ngIf="placeHolderUrl != null && !selectedFileDataUrl"
    [ngStyle]="{
      'background-image': 'url(' + placeHolderUrl + ')'
    }"
  ></div>
  <mat-icon
    *ngIf="!selectedFileDataUrl && !placeHolderUrl"
    class="add-image-icon"
    >add_photo_alternate</mat-icon
  >
  <div
    class="selected-image"
    *ngIf="selectedFileDataUrl"
    [ngStyle]="{
      'background-image': 'url(' + selectedFileDataUrl + ')'
    }"
  ></div>
  <div *ngIf="uploadState | async as percent">{{ percent }} %</div>
  <div class="label">Bild auswählen...</div>
  <input type="file" (change)="onInputChange($event)" (blur)="onInputBlur()" />
</label>
