.input-and-spinner {
  position: relative;
  width: 100%;

  input {
    font-size: 18px;
    border: none;
    padding: 3px;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%;
    line-height: 48px;
    padding-left: 16px;
    box-sizing: border-box;
  }

  .spinner-container {
    height: calc(100% - 16px);
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    padding-right: 8px;
  }
}

:host {
  display: inline-block;
  width: 100%;
}
