<form>
  <div class="input-and-spinner">
    <input
      *ngIf="placeholder$ | async as placeholder"
      type="text"
      [matAutocomplete]="auto"
      [formControl]="myControl"
      [placeholder]="placeholder"
      (blur)="onBlur()"
      (focus)="onFocus()"
    />
    <div class="spinner-container" *ngIf="isLoading === true">
      <mat-spinner [diameter]="30"></mat-spinner>
    </div>
  </div>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
    <mat-option
      *ngFor="let standort of autocompleteValues$ | async"
      [value]="standort"
    >
      {{ standort.postalcode }} {{ standort.city }}
    </mat-option>
  </mat-autocomplete>
</form>
