<div class="create-product">
	<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
		<label class="product-image">
			Bild hochladen
			<input type="file" (change)="uploadImage($event)">
			<div class="uploaded-image" *ngIf="uploadedImage" [ngStyle]="{'background-image': 'url(' + uploadedImage + ')'}"></div>
			<p *ngIf="uploadState | async as percent">{{ percent }} %</p>
		</label>
		<mat-form-field appearance="outline" class="product-name">
			<mat-label>Produktname*</mat-label>
			<input matInput formControlName="name">
		</mat-form-field>
		<mat-form-field appearance="outline" class="product-category">
			<mat-label>Kategorie*</mat-label>
			<input matInput formControlName="category">
		</mat-form-field>
		<mat-form-field appearance="outline" class="product-price">
			<mat-label>Preis*</mat-label>
			<input matInput formControlName="price">
		</mat-form-field>
		<mat-form-field appearance="outline" class="product-description">
			<mat-label>Beschreibung</mat-label>
			<input matInput formControlName="description">
		</mat-form-field>
		<button mat-button [disabled]="!productForm.valid && !uploadState">Abschicken</button>
	</form>
</div>
