<div *ngIf="loggedInUserState$ | async as loggedInUserState">
  <app-lk-page-title
    [title]="loggedInUserState.traderProfile.businessname"
  ></app-lk-page-title>

  <div *ngIf="!loggedInUserState.emailVerified" class="verify-mail-alert">
    Bitte bestätige deine Email-Addresse!
    <a [routerLink]="" (click)="resendEmailVerification()">
      Bestätigungsmail erneut senden.
    </a>
  </div>

  <div>
    <label>
      <app-lk-checkbox [formControl]="delivery"></app-lk-checkbox>
      Wir liefern
    </label>
  </div>

  <div>
    <label>
      <app-lk-checkbox [formControl]="pickup"></app-lk-checkbox>
      Abholung möglich
    </label>
  </div>

  Beschreibe dein Geschäft, erzähl was über dich, dein Sortiment und was du
  anbietest.

  <app-lk-textarea placeholder="Beschreibungstext"></app-lk-textarea>
</div>
