<div *ngIf="loggedInUserState$ | async as loggedInUserState">
  <app-lk-page-title
    [title]="loggedInUserState.traderProfile.businessname"
  ></app-lk-page-title>
  <div *ngIf="!loggedInUserState.emailVerified" class="verify-mail-alert">
    Bitte bestätige deine Email-Adresse:
    {{ loggedInUserState.traderProfile.email }}<br />
    Du hast noch keine Email von uns erhalten?
    <a [routerLink]="" (click)="resendEmailVerification()"
      >Bestätigungsmail erneut senden</a
    ><br /><br />
    {{ mailResendedMessage }}
  </div>
  <form *ngIf="loggedInUserState.emailVerified" [formGroup]="dataFormGroup">
    <div>
      Schritt 1: Wähle aus was auf Deinen Betrieb zutrifft:
    </div>
    <div class="dense">
      <label>
        <app-lk-checkbox formControlName="delivery"> </app-lk-checkbox>
        Wir liefern
      </label>
    </div>
    <div class="dense">
      <label>
        <app-lk-checkbox formControlName="pickup"></app-lk-checkbox>
        Abholung möglich
      </label>
    </div>
    <div
      class="warning"
      *ngIf="dataFormGroup.errors && dataFormGroup.errors.notDeliveryAndPickup"
    >
      Bitte Wähle mindestens eine Option aus.
    </div>
    <div>
      Schritt 2: Beschreibe Deinen Betrieb, erzähl etwas über Dich, Deine
      Öffnungs-, Liefer- und Abholzeiten und was Du anbietest:
    </div>
    <div>
      <app-lk-textarea
        placeholder="Beschreibungstext"
        formControlName="description"
      ></app-lk-textarea>
    </div>
    <div>
      Schritt 3: Hat dein Geschäft eine eigene E-Mail Adresse?
    </div>
    <div>
      <app-lk-input
        placeholder="E-Mail"
        formControlName="storeEmail"
      ></app-lk-input>
    </div>
    <div>
      Schritt 4: Hast du eventuell eine Homepage? Dann trage es doch hier ein:
    </div>
    <div>
      <app-lk-input
        placeholder="Homepage"
        formControlName="homepage"
        pattern="https?://.+"
      ></app-lk-input>
    </div>
    <div class="warning" *ngIf="homepage.invalid">
      Deine Homepage muss mit http:// oder https:// beginnen, damit sie aufrufbar
      ist.
    </div>
    <div *ngIf="images">
      <div>
        Schritt 5: Zu guter Letzt lade Bilder von Deinem Laden oder Deinem
        Angebot hoch (Du kannst maximal 3 Bilder hochladen und mit Klick auf das
        Bildzeichen rechts das Bild markieren, dass du als Startbild setzen
        möchtest):
      </div>
      <div *ngIf="images.length < 3">
        <app-image-chooser [formControl]="businessImage"></app-image-chooser>
        <app-lk-button
          type="button"
          label="Bild hochladen"
          [disabled]="businessImage.value == null"
          (click)="uploadImage()"
        >
        </app-lk-button
        ><span class="move-right" *ngIf="this.imageUploadState | async">
          Übertragung:
          {{ this.imageUploadState | async | number: '1.2-2' }}
          %</span
        >
      </div>
      <div *ngIf="images.length > 0">
        Folgende Bilder wurden deinem Profil zugeordnet:
      </div>
      <div class="image-list">
        <div
          class="image-item"
          *ngFor="let image of images"
          [ngStyle]="{ 'background-image': 'url(' + image.url + ')' }"
        >
          <div class="btns">
            <button
              type="button"
              (click)="
                deleteImage(
                  image,
                  image.path ===
                    loggedInUserState.traderProfile.defaultImagePath
                )
              "
              mat-mini-fab
              class="md-mini icn-danger"
            >
              <mat-icon class="cicon" title="Das Bild löschen.."
                >delete</mat-icon
              >
            </button>
            <button
              type="button"
              (click)="setDefaultImage(image)"
              mat-mini-fab
              class="md-mini"
              [ngClass]="
                image.path === loggedInUserState.traderProfile.defaultImagePath
                  ? 'icn-success'
                  : 'icn-disabled'
              "
            >
              <mat-icon
                class="cicon"
                title="Dieses Bild in der Übersicht anzeigen"
                >photo_library</mat-icon
              >
            </button>
            <!-- <button mat-fab class="md-mini icn-disabled">
              <mat-icon>photo_library</mat-icon>
            </button>             -->
          </div>
        </div>
      </div>
    </div>

    <div class="buton-and-success">
      <div>
        Schritt 6: Dein Profil für die Kunden öffentlich verfügbar machen:
      </div>
      <div class="dense">
        <label>
          <app-lk-checkbox formControlName="public"></app-lk-checkbox>
          Profil ist öffentlich
        </label>
      </div>

      <br />
      <div class="success" *ngIf="saveSuccessful">
        Speichern erfolgreich
      </div>
      <app-lk-button
        [disabled]="dataFormGroup.errors != null"
        label="Profil speichern"
        (click)="updateProfile()"
      >
      </app-lk-button>

      <div>
        Meine Adressdaten
        <a [routerLink]="['/trader/register/edit']">bearbeiten</a>
      </div>
    </div>
  </form>
  <br />
  <br />
</div>
