<lk-container *ngIf="loggedInUserState$ | async as loggedInUserState">
  <lk-page-title
    [title]="loggedInUserState.traderProfile.businessname"
  ></lk-page-title>
  <div *ngIf="!loggedInUserState.emailVerified" class="verify-mail-alert">
    Bitte bestätige Deine E-Mail-Adresse:
    {{ loggedInUserState.traderProfile.email }}<br />
    Du hast noch keine E-Mail von uns erhalten?
    <a [routerLink]="" (click)="resendEmailVerification()"
      >Bestätigungs-E-Mail erneut senden</a
    ><br /><br />
    {{ mailResendedMessage }}
  </div>
  <mat-tab-group *ngIf="loggedInUserState.emailVerified">
    <mat-tab label="Angebot">
      <lk-offer [loggedInUserState]="loggedInUserState"></lk-offer>
    </mat-tab>
    <mat-tab label="Produkte">
      <lk-products></lk-products>
    </mat-tab>
    <mat-tab label="Bilder">
      <lk-image-upload
        [loggedInUserState]="loggedInUserState"
      ></lk-image-upload>
    </mat-tab>
    <mat-tab label="Online-Shop">
      <lk-online-shop [loggedInUserState]="loggedInUserState"></lk-online-shop>
    </mat-tab>
    <mat-tab label="Allgemein">
      <p>
        Meine Adressdaten
        <a [routerLink]="['/trader/register/edit']">bearbeiten</a>
      </p>
    </mat-tab>
  </mat-tab-group>
</lk-container>
