@import '../../../theme/variables.scss';

.verify-mail-alert {
  background-color: lightgoldenrodyellow;
  border: 1px solid lightsalmon;
  font-size: 0.7rem;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  text-align: center;
}
