@import './../../variables.scss';

#agb-view-container {
  display: block;

  font-size: 0.8rem;
}

h1 {
  color: $normalgreen;
  font-size: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
}

h2 {
  font-size: 0.9rem;
  padding-top: 1.6rem;
  padding-bottom: 0.8rem;
}

h3 {
  font-size: 0.9rem;
  padding: 0.6em 0rem;
}
