<lk-container class="agb">
  <lk-page-title title="Allgemeine Gesch&auml;ftsbedingung"></lk-page-title>
  <div class="agb-content">
    <p>
      Wenn Sie unter www.lokalkauf.org den dort angebotenen Service in Anspruch
      nehmen, gelten hierfür folgende Allgemeine Geschäftsbedingungen (AGB).
    </p>

    <h2>1. Gegenstand des Angebots lokalkauf</h2>

    <h3>1.1 Anbieter</h3>
    <p>
      Anbieter des Services lokalkauf und somit Ihr Vertragspartner für diesen
      Service sind Alexander Schieweck. Björn Merschmeier, Christian Aschoff,
      Friederike Seidel, Ilja Leberman, Kai Nitsch, Konstantin Bücheler, Lukas
      Schmyrczyk, Maximilian Seidel, Mina Paulus, Patrick Simmelbauer, Philipp
      Salinski, Stefan Klement, Volkan Karakulak
    </p>
    <p>
      (nachfolgend „lokalkauf) handelnd unter lokalkauf e.V. (in Gründung),
      Schuppstraße 49, 65191 Wiesbaden.
    </p>

    <p>
      Unsere Kontakadresse:
      <a href="mailto:info@lokalkauf.org">info@lokalkauf.org</a>
    </p>

    <p>
      Diese Webseite (<a
        href="https://www.lokalkauf.org"
        target="_blank"
        rel="noopener noreferrer"
        >www.lokalkauf.org</a
      >) ist erst vor kurzem, am 22.03.2020, veröffentlicht worden.
    </p>
    <p>
      Wir, die Betreiber dieser Seite, möchten Sie mit diesen AGBs darüber
      informieren, wer hinter diesem Angebot steht.
    </p>
    <p>
      Diese Seite wurde von einem Team veröffentlicht, das sich in einem
      sogenannten "Hackathon" gebildet hat. Wikipedia erklärt einen Hackathon
      wie folgt: "Ein Hackathon (Wortschöpfung aus „Hack" und „Marathon") ist
      eine kollaborative Soft- und Hardwareentwicklung Veranstaltung.
      Alternative Bezeichnungen sind „Hack Day", „Hackfest" und „codefest". Ziel
      eines Hackathons ist es, innerhalb der Dauer dieser Veranstaltung
      gemeinsam nützliche, kreative oder unterhaltsame Softwareprodukte
      herzustellen oder, allgemeiner, Lösungen für gegebene Probleme zu finden."
      (<a
        href="https://de.wikipedia.org/wiki/Hackathon"
        target="_blank"
        rel="noopener noreferrer"
        >https://de.wikipedia.org/wiki/Hackathon</a
      >)
    </p>

    <p>
      Wir, das Team hinter lokalkauf.org haben uns mit unserem Beitrag
      vorgenommen: Den stationären Einzelhandel zu retten.
    </p>
    <p>
      Der Hackathon, aus dem diese Seite hervorgegangen ist, ist der
      veranstaltete Hackathon #wirvsvirus, über den Sie sich unter
      <a
        href="https://wirvsvirushackathon.org/"
        target="_blank"
        rel="noopener noreferrer"
        >https://wirvsvirushackathon.org/</a
      >
      informieren können.
    </p>
    <p>
      Disclaimer: Zu einem Hackathon gehört, dass man sich als Team sehr
      kurzfristig zusammenfindet und dann, mit hohem Energieeinsatz und unter
      Zeitdruck Lösungen schafft, für die Softwareenwicklungs- und Projektteams
      sonst ein vielfaches der Zeit benötigen würden. In einer solchen Situation
      ist Perfektionismus weder gewünscht noch möglich. Wir bemühen uns dennoch,
      alle rechtlichen Anforderungen sinnvoll zu erfüllen und Ihnen die
      Möglichkeit zu geben, sich hier über den Anbieter dieses Dienstes zu
      informieren. Bitte haben Sie Verständnis dafür, dass es sich um einen
      Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den
      nächsten Tagen und Wochen genutzt werden kann. Soweit sich für diesen
      Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese AGBs
      sofort auf den dann geltenden Stand bringen. Bis dahin gilt als
      Kontaktadresse dieses noch experimentellen Angebots:
    </p>

    <p>
      LionMint GmbH <br />c/o WeWork, Taunusanlage 8 <br />60329 Frankfurt am
      MainGermany
    </p>

    <h3>1.2 Angebot</h3>
    <p>
      Auf lokalkauf werden Waren von teilnehmenden Einzelhändlern angeboten.
      lokalkauf bietet an, eine vom Kunden online getroffene und an das
      lokalkauf übermittelte Auswahl von Waren an einen Händler zu übermitteln.
    </p>
    <p>
      Ihr Vertragspartner für den Warenkauf ist Händler. Soweit der Kunde
      möchte, kann er die Ware bei Anlieferung oder Abholung erwerben.
    </p>

    <h3>1.3 Kein Kaufvertrag im Rahmen von lokauf</h3>

    <p>
      Die Darstellung der Produkte in dem Online-Service lokalkauf stellt kein
      rechtlich bindendes Angebot, sondern einen unverbindlichen Online-Katalog
      von unabhängigen Händlern dar. Durch Inanspruchnahme des Online-Services
      lokalkauf kommt noch kein Kaufvertrag der Waren zustande.
    </p>
    <p>
      Die Online-Übermittlung der Artikelauswahl durch den Kunden stellt also
      insbesondere kein Angebot auf Abschluss eines Kaufvertrages dar, sondern
      sie ist für den Kunden völlig unverbindlich und verpflichtet ihn nicht zum
      Kauf der ausgewählten Artikel. Es besteht somit kein Widerrufsrecht nach §
      312g BGB.
    </p>
    <p>
      Der Kunde hat vielmehr bis zur Annahme der Ware bei der Lieferung oder
      Abholung jederzeit die Möglichkeit, von einem Kauf der bestellten Waren
      abzusehen. Ein Kaufvertrag zwischen dem Händler und dem Kunden kommt nur
      zustande, wenn der Kunde bei Anlieferung der Ware entscheidet, die von ihm
      ausgewählte Ware ganz oder teilweise erwerben zu wollen und wenn er die
      Ware sodann bezahlt. Mögliche Gewährleistungsrechte des Kunden werden
      hiervon jedoch nicht berührt.
    </p>

    <h2>2. Registrierungerfordernis</h2>

    <p>
      Um im Rahmen von lokalkauf die Online Darstellung der Händler sowie des
      Angebots zu ermöglichen, muss sich der Händler bei unserem Online-Service
      unter lokalkauf.de registrieren.
    </p>

    <h2>3. Leistungen von lokalkauf</h2>

    <h3>3.1 Zusammenstellung von Informationen</h3>
    <p>
      lokalkauf stellt Informationen des Einzelhandel sowie von Restaurants,
      Cafés, etc. zusammen wie zum Beispiel Öffnungszeiten, Warenangebot sowie
      Liefer – und Abholmöglichkeiten. Über ein Nachrichtensystem bietet
      lokalkauf dem Kunden die Möglichkeit mit dem Händler in Kontakt zu treten.
      Eine mögliche Rechnungserstellung erfolgt dabei durch den jeweiligen
      Händler.
    </p>

    <h3>3.2 Verfügbarkeitsvorbehalt; Alternativartikel</h3>
    <p>
      Der Händler stellt die jeweiligen Waren nach der Artikelauswahl des Kunden
      zusammen, soweit die vom Kunden genannten Artikel im ausgewählten Laden
      verfügbar sind. Der Händler wird dem Kunden Alternativartikel vorschlagen,
      sollte eine Ware nicht oder nicht in ausreichender Menge vorrätig sein.
      Dies gilt nicht für schnell verderbliche Waren und Lebensmittel, sofern
      keine gesonderte Absprache mit dem Kunden hierüber erfolgt ist oder der
      Kunde einen Alternativwunsch selbst explizit angegeben hat.
    </p>

    <h3>3.3 Auswahl von loser Ware</h3>
    <p>
      Bei loser Ware (insbesondere aus den Bereichen Obst, Gemüse, Fleisch,
      Wurst und Käse), wird sich der Händler bemühen, die vom Kunden gewünschte
      Menge zusammenzustellen und Mengenabweichungen möglichst gering zu halten.
      Lose Waren sind solche Waren, die unverpackt nach Gewicht/Volumen/Länge
      oder Fläche beworben/angeboten werden und auf Vorgabe der vom Kunden
      vorgegebenen Menge kundenindividuell abgewogen werden, so dass sich der
      vom Kunden zu zahlende Endpreis - basierend auf dem angegebenen Grundpreis
      in Euro je 100 ml bzw. 100 g oder in Euro je 1 kg / 1 L / 1 m² oder 1 m³ -
      auf die tatsächliche Menge bezieht.
    </p>

    <h2>4. Servicepauschale; Warenpreise; Umsatzsteuer</h2>

    <h3>4.1 Warenpreise; Umsatzsteuer</h3>
    <p>
      Die auf der Internetseite lokalkauf.org im Rahmen der dargestellten und
      angegebenen Warenpreise können von den tatsächlichen Warenpreisen
      abweichen (nach oben und nach unten), die zum Zeitpunkt der Lieferung oder
      Abholung im ausgewählten Laden gültig sind.
    </p>
    <p>
      lokalkauf ist nicht verantwortlich für die beschreibenden Bilder und/oder
      Texte die ein Händler oder Gastronom auf lolalkauf.org veröffentlicht.
    </p>

    <h2>5. Zahlungsweise</h2>
    <p>
      Lieferungen und Abholungen erfolgen in der vom Händler angebotenen
      Zahlungsweise (z.B. Bar, EC-Kartenzahlung, Überweisung, PayPal, etc.)
    </p>

    <h2>6. Retouren von Waren</h2>
    <p>
      Der Händler verpflichtet sich nach Abschluss eines Kaufvertrags mit dem
      Kunden über der Plattform lokalkauf etwaige Gewährleistungspflichten oder
      ggf. Garantien einzuhalten.
    </p>

    <h2>7. Haftung</h2>
    <p>
      lokalkauf haftet nicht für die Funktionsfähigkeit der Telefonleitungen zum
      Server seines Online-Services, bei Stromausfällen und bei Ausfällen des
      Servers, deren Ursache nicht im Einflussbereich des lokalkaufes stehen.
    </p>
    <p>
      lokalkauf haftet für die leicht fahrlässige Verletzung von wesentlichen
      Pflichten. Wesentlich sind Pflichten, deren Verletzung die Erreichung des
      Vertragszwecks gefährdet oder deren Erfüllung die ordnungsgemäße
      Durchführung des Vertrages überhaupt erst ermöglicht und auf deren
      Einhaltung der Kunde regelmäßig vertraut. In diesem Fall beschränkt sich
      die Haftung von lokalkauf auf den vorhersehbaren, vertragstypischen,
      unmittelbaren Durchschnittsschaden. lokalkauf haftet nicht für die leicht
      fahrlässige Verletzung anderer als der in den vorstehenden Sätzen
      genannten Pflichten.
    </p>
    <p>
      Vorstehende Haftungsbeschränkungen gelten nicht, soweit Ansprüche des
      Kunden aus Produkthaftung oder Garantie bestehen. Sie gelten ferner nicht
      bei dem lokalkauf zurechenbarer Verletzung von Leben, Körper und
      Gesundheit des Kunden, sowie Schäden, die von dem lokalkauf vorsätzlich
      oder grob fahrlässig herbeigeführt wurden.
    </p>
    <p>
      Soweit diese Haftung ausgeschlossen oder beschränkt ist, gilt dies auch
      für die persönliche Haftung von Arbeitnehmern, Vertretern und
      Erfüllungsgehilfen des lokalkaufes. Eine Haftung des lokalkaufes über die
      Regelungen in dieser Ziff. 7 hinaus ist ausgeschlossen.
    </p>

    <h2>8. Geltendes Recht / Änderungen der vertraglichen Leistungen</h2>
    <p>Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts (CISG).</p>
    <p>
      lokalkauf ist jederzeit berechtigt, seine vertraglichen Leistungen mit
      einer angemessenen Rücktrittsfrist zu ändern oder zu ergänzen, soweit dies
      zur Beseitigung nachträglich entstehender Störung des angemessenen
      Verhältnisses zwischen Leistung und Gegenleistung, der Geschäftsgrundlage
      oder zur Anpassung an veränderte gesetzliche oder technische
      Rahmenbedingungen notwendig ist. Über eine Anpassung wird lokalkauf den
      Kunden unter Mitteilung des Inhaltes der geänderten Regelungen
      informieren. Die Änderung wird Vertragsbestandteil, wenn der Kunde nicht
      binnen vier Wochen nach Zugang der Änderungsmitteilung und der
      Einbeziehung in das Vertragsverhältnis gegenüber lokalkauf in Schrift-
      oder Textform widerspricht.
    </p>

    <h2>9. Kündigung des Online-Services</h2>
    <p>
      Sie können Ihre Registrierung bei unserem Online-Service jederzeit mit
      einer Frist von einem Werktag kündigen. Um Ihr Nutzerkonto zu löschen,
      klicken Sie bitte in Ihrem Nutzerkonto auf den Link "Konto Löschen".
      Weitere Details zu der Löschung entnehmen Sie bitte unserem
      Datenschutzhinweis.
    </p>

    <h2>10. Alternative Streitbelegung</h2>
    <p>
      Die Europäische Kommission stellt eine Plattform für die außergerichtliche
      Online-Streitbeilegung (OS-Plattform) bereit, die unter
      www.ec.europa.eu/consumers/odr aufrufbar ist. Unsere E-Mail-Adresse finden
      Sie in unserem Impressum. Wir nehmen am Streitschlichtungsverfahren teil.
      Eine Liste mit den Kontaktdaten der anerkannten Streitschlichtungsstellen
      finden Sie unter
      <a
        href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.adr.show."
        target="_blank"
        rel="noopener noreferrer"
        >https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.adr.show.</a
      >
    </p>

    <h2>11. Datenschutz</h2>
    <p>
      Wir erheben, verarbeiten und nutzen Ihre personenbezogenen Daten, soweit
      dies für die Begründung, Durchführung oder Beendigung dieses Vertrags
      erforderlich ist. Eine weitergehende Erhebung, Verarbeitung und Nutzung
      Ihrer personenbezogenen Daten erfolgt nur, soweit eine Rechtsvorschrift
      dies erlaubt oder Sie eingewilligt haben. Nähere Informationen finden Sie
      in unserer Datenschutzerklärung
      <a
        href="https://www.lokalkauf.org/privacy"
        target="_blank"
        rel="noopener noreferrer"
        >https://www.lokalkauf.org/privacy</a
      >
    </p>

    <h2>12. Salvatorische Klausel</h2>
    <p>
      Sollten einzelne Bestimmungen dieser AGB ganz oder teilweise unwirksam
      sein, so bleiben die AGB im Übrigen wirksam.
    </p>
  </div>
</lk-container>
