$lk-colors-green: (
  50: #e0f7e0,
  100: #b3eab3,
  200: #80dc80,
  300: #4dce4d,
  400: #26c426,
  500: #00b900,
  600: #00b200,
  700: #00aa00,
  800: #00a200,
  900: #009300,
  A100: #beffbe,
  A200: #8bff8b,
  A400: #58ff58,
  A700: #3fff3f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$lk-colors-blue: (
  50: #f1fbfe,
  100: #dbf6fc,
  200: #c4f0fa,
  300: #aceaf8,
  400: #9ae6f7,
  500: #88e1f5,
  600: #80ddf4,
  700: #75d9f2,
  800: #6bd5f0,
  900: #58cdee,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ebfbff,
  A700: #d2f5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
