@import '../../node_modules/@angular/material/theming';
@import './lk-theme-color-palette.scss';

@include mat-core();

$lk-theme-primary: mat-palette($lk-colors-green);
$lk-theme-accent: mat-palette($lk-colors-blue);
$lk-theme-warn: mat-palette($mat-red);
$lk-theme: mat-light-theme($lk-theme-primary, $lk-theme-accent, $lk-theme-warn);

$lk-typography: mat-typography-config(
  $font-family: 'Open Sans',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include mat-core($lk-typography);
@include angular-material-theme($lk-theme);
