/* For use in src/lib/core/theming/_palette.scss */
// http://mcg.mbitson.com/#!?mcgpalette0=%234eec84&themename=mcgtheme
$lk-colors-green: (
  50: #eafdf0,
  100: #caf9da,
  200: #a7f6c2,
  300: #83f2a9,
  400: #69ef96,
  500: #4eec84,
  600: #47ea7c,
  700: #3de771,
  800: #35e467,
  900: #25df54,
  A100: #ffffff,
  A200: #e6ffec,
  A400: #b3ffc5,
  A700: #9affb1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
// http://mcg.mbitson.com/#!?mcgpalette0=%2379e0ea&themename=mcgtheme
$lk-colors-blue: (
  50: #effbfc,
  100: #d7f6f9,
  200: #bcf0f5,
  300: #a1e9f0,
  400: #8de5ed,
  500: #79e0ea,
  600: #71dce7,
  700: #66d8e4,
  800: #5cd3e1,
  900: #49cbdb,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cdf9ff,
  A700: #b3f6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
