/* You can add global styles to this file, and also import other style files */
@import './lk-theme.scss';
@import './variables.scss';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: $white !important;
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-chars: auto 3;
  -webkit-hyphenate-limit-lines: 4;
  -ms-hyphens: auto;
  -ms-hyphenate-limit-chars: auto 3;
  -ms-hyphenate-limit-lines: 4;
  hyphens: auto;

  .mat-button,
  .mat-raised-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button,
  .mat-fab,
  .mat-mini-fab {
    font-family: Bitter, 'serif';
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.fancy-link {
  font-family: Bitter, 'serif';
  color: $normalgreen;
  font-weight: 400;
}

h1 {
  font-size: 1.6rem;
}

.fancy-link {
  text-decoration: none;

  &::after {
    font-size: 1.6rem;
    display: inline;
    content: ' \203A ';
  }
}

.fancy-link-90 {
  text-decoration: none;

  &::after {
    transform: rotate(90deg);
    position: absolute;
    font-size: 1.6rem;
    left: calc(100% - 9px);
    top: 2px;
    display: inline-block;
    content: ' \203A ';
  }
}

input {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-card-header-text {
  overflow: hidden;
  width: 100%;
  margin-left: 32px !important;

  @media screen and (min-width: 1040px) {
    overflow: unset;
    width: calc(100% - 32px);
    margin-left: 16px !important;
  }
}

.mat-drawer-container {
  background-color: $white !important;
}

.carousel-slide-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.cc-compliance {
  align-self: flex-end;

  @media only screen and (max-width: 480px) {
    align-self: end;
  }
}

a {
  text-decoration: underline;
  color: inherit;
}

a:visited {
  text-decoration: underline;
  color: inherit;
}

a.fancy-link:visited {
  text-decoration: none;
  color: $normalgreen;
}

div.cc-window,
div.cc-banner {
  font-family: inherit;
  font-size: 0.9rem;
  background-color: #fcfcfc;
  border-top: solid 1px #eaeaea;

  @media screen and (max-width: 767px) {
    flex-direction: column !important;
    align-items: unset;
  }

  a.cc-btn {
    hyphens: none;
    font-family: inherit;

    &.cc-deny {
      background-color: $white;
    }
  }

  div.cookie-content-container {
    display: flex;

    img {
      margin-top: 0.7rem;
      margin-right: 0.8rem;
      width: 3.8rem;
      height: 3.8rem;
    }
  }

  .cc-link {
    margin-left: 4.4rem;
  }
}

div.cc-revoke {
  display: none;
  font-family: inherit;
  background-color: #fcfcfc !important;
  font-size: 0.9rem;
}

.gallery-lightbox {
  background-color: rgba(0, 0, 0, 0.2);
}

#lightbox-lightbox {
  .g-box {
    background-color: #ffffff;
  }
}

mat-icon.custom-badge {
  span.mat-badge-content {
    width: 26px;
    text-align: center;
    border-radius: 12px;
    background: rgba(136, 225, 245, 0);
    left: 13px;
    color: rgba(136, 225, 245, 0.75);
    font-size: 22px;

    font-family: 'Material Icons' !important;
  }
}
