$lightestgreen: rgb(152, 211, 90);
$lightergreen: rgb(116, 181, 48);
$normalgreen: rgb(93, 159, 22);
$darkgreen: rgb(82, 145, 15);

$appblack: rgb(0, 0, 0);
$appblackGrey: #323232;
$appgrey: rgb(50, 50, 50);
$lightestgrey: #ccc;
$white: #ffffff;

$slighttranslucentwhite: rgba(255, 255, 255, 0.8);
$slightesttranslucentwhite: rgba(255, 255, 255, 0.9);
$white-transparent-60: rgba(255, 255, 255, 0.6);

$intensivered: #f00;

$errorcolor: #c55a11;
