@import './../../../theme/variables.scss';

.trader-detail {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
  text-align: center;

  .trader-product-amount {
    font-size: 0.9rem;
  }

  .trader-description {
    margin: 20px 0;
  }

  .product-amount {
    color: $darkgreen;
  }

  .trader-product-star {
    margin-top: 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 8px 25px 10px 25px;

    box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.1);
  }

  .symboltext {
    line-height: 30px;
    vertical-align: middle;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }

  .toggleDetails {
    color: $darkgreen;
  }
}

.carousel-container {
  margin: 20px 0;
}

.carousel-inner {
  max-width: 100%;
  max-height: 100%;
}
