@import './../../../theme/variables.scss';

.trader-title-wrapper {
  margin-top: 46px;
}

lk-container {
  .trader-product-amount {
    font-size: 0.9rem;
  }

  .trader-description {
    text-align: center;

    @media screen and (max-width: 767px) {
      text-align: justify;
    }

    margin-bottom: 20px;
  }

  .product-amount {
    color: $darkgreen;
  }

  .trader-product-star {
    margin-top: 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 8px 25px 10px 25px;

    box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.1);
  }

  .carousel {
    margin-top: 46px;
    width: 600px;
    margin: 46px auto 20px auto;

    @media screen and (max-width: 632px) {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .symboltext {
    line-height: 30px;
    vertical-align: middle;
  }

  .vertical-align-middle {
    vertical-align: middle;
  }

  .horizontal-center {
    text-align: center;
    width: 100%;
  }

  .toggleDetails {
    color: $darkgreen;
    cursor: pointer;
    font-weight: bold;
  }

  .normalgreen {
    color: $normalgreen;
  }

  app-trader-contact {
    display: block;
  }

  .mat-mini-fab {
    transition: none !important;
    box-shadow: none !important;
    color: $white !important;
    background-color: $normalgreen !important;
  }

  .floating-backbutton {
    display: flex;
    align-items: center;
    color: $lightestgrey;

    mat-icon,
    span {
      cursor: pointer;
    }

    span {
      padding-left: 10px;
    }
  }

  .margin-boost {
    margin: 23px auto;
    font-size: 14px;
  }
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  @media screen and (min-width: 1040px) {
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-between;

    &::after {
      content: '';
      flex-basis: auto;
      flex: auto;
    }
  }
}

lk-product-item {
  margin-bottom: 16px;

  @media screen and (min-width: 1040px) {
    margin-bottom: 32px;
    margin-right: 24px;
  }
}

.navigate-back {
  text-decoration: none;
}

.gallery-box {
  box-sizing: border-box;
  background-color: $white;
}

h3.products-headline {
  margin-top: 46px;
}
