.trader-detail {

  text-align: center;

  .trader-headline {
    color: rgb(152, 211, 90);
    font-size: 1.6rem;
  }

  .trader-product-amount {
    font-size: .9rem;
  }

  .product-amount {
    color: rgb(95, 152, 34);
  }

  .trader-product-star {

    margin-top: 1.2rem;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 25px;
    padding:8px 25px 10px 25px;

    box-shadow:6px 6px 21px 0px rgba(0, 0, 0, 0.1);
  }
}
