<lk-container *ngIf="trader$ | async as trader">
  <h1>{{ trader.businessname }}</h1>
  <div
    class="trader-description text"
    *ngIf="trader.description && !showMoreText"
  >
    {{ shortenText(trader.description) }}
    <span
      *ngIf="trader.description.length > 200"
      (click)="showMoreText = true"
      class="toggleDetails"
      >... Mehr lesen</span
    >
  </div>
  <div
    class="trader-description text"
    *ngIf="trader.description && showMoreText"
  >
    {{ trader.description }}
    <span
      *ngIf="trader.description.length > 200"
      (click)="showMoreText = false"
      class="toggleDetails"
    >
      Weniger</span
    >
  </div>

  <h3>Unser Angebot</h3>
  <div class="text">
    <mat-icon
      class="inlinesymbol vertical-align-middle lightergreen"
      *ngIf="trader.delivery"
      >done</mat-icon
    >
    <mat-icon
      class="inlinesymbol vertical-align-middle gray"
      *ngIf="!trader.delivery"
      >close</mat-icon
    >
    <span class="symboltext"> Lieferung</span><br />
    <mat-icon
      class="inlinesymbol vertical-align-middle lightergreen"
      *ngIf="trader.pickup"
      >done</mat-icon
    >
    <mat-icon
      class="inlinesymbol vertical-align-middle gray"
      *ngIf="!trader.pickup"
      >close</mat-icon
    >
    <span> Abholung</span>
  </div>

  <div class="carousel">
    <mat-carousel
      *ngIf="traderImages$ | async as images"
      [hideArrows]="false"
      [hideIndicators]="false"
      [proportion]="90"
    >
      <mat-carousel-slide *ngFor="let image of images" [image]="image">
      </mat-carousel-slide>
    </mat-carousel>
  </div>

  <app-trader-contact [trader]="trader"></app-trader-contact>
  <p class="trader-product-amount" *ngIf="(productAmount$ | async) > 0">
    <span
      class="product-amount"
      *ngIf="productAmount$ | async as productAmount"
      >{{ productAmount }}</span
    >
    Produkte
  </p>
  <!-- app-product-overview [traderId]="trader.id"></app-product-overview>

  <a [routerLink]="'/trader/' + trader.id + '/contact/'">
    So sind wir erreichbar
  </a-->
</lk-container>
