<div class="trader-contact-form" *ngIf="trader">
  <div class="text lightergreen">
    So sind wir erreichbar:
  </div>
  <div class="contactButtons">
    <div class="contactButton">
      <a [href]="'tel:' + trader.telephone">
        <lk-button [label]="trader.telephone" [minSizePercent]="70">
        </lk-button> </a
      ><br />
    </div>
    <div *ngIf="!trader.storeEmail" class="contactButton">
      <a [href]="'mailto:' + trader.email">
        <lk-button [label]="trader.email" [minSizePercent]="70"> </lk-button>
      </a>
    </div>
    <div *ngIf="trader.storeEmail" class="contactButton">
      <a [href]="'mailto:' + trader.storeEmail">
        <lk-button [label]="trader.storeEmail" [minSizePercent]="70">
        </lk-button>
      </a>
    </div>
    <div *ngIf="trader.homepage" class="contactButton">
      <a [href]="trader.homepage" target="_blank" rel="noopener noreferrer">
        <lk-button [label]="trader.homepage" [minSizePercent]="70"> </lk-button>
      </a>
    </div>

    <div class="trader-contact-adress" [innerHtml]="getAdress()"></div>
  </div>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit(trader.businessname)">
    <div class="text contactformdescription">
      Oder über das Kontaktformular:<br />
      <lk-textarea
        placeholder="Deine Nachricht an uns"
        formControlName="mail_message"
        type="mail_message"
      >
      </lk-textarea
      ><br /><br />
      Wie dürfen wir Dich kontaktieren?<br />
      <lk-input
        [warn]="mail_contact.touched && mail_contact.invalid"
        placeholder="E-Mail oder Telefonnummer*"
        formControlName="mail_contact"
      ></lk-input
      ><br /><br />

      <label>
        <app-lk-checkbox formControlName="agbRead"></app-lk-checkbox>
        Ich bestätige die
        <a
          href="http://www.info.lokalkauf.org/agb"
          target="blank"
          rel="noopener noreferrer"
          >AGB</a
        >
        und
        <a
          href="http://www.info.lokalkauf.org/datenschutz"
          target="blank"
          rel="noopener noreferrer"
          >Datenschutzbestimmungen</a
        >
        gelesen zu haben und bin einverstanden
      </label>
    </div>
    <div class="contactButtons">
      <div class="contactButton">
        <lk-button
          [disabled]="!contactForm.valid"
          type="submit"
          label="Anfrage senden"
        >
        </lk-button>
      </div>
      <div class="contactButton">
        <lk-button
          type="button"
          (click)="navigateBackToOverview()"
          label="zurück zur Übersicht"
        >
        </lk-button>
      </div>
    </div>
    <br />
    <br />
  </form>
</div>
