.contactButtons {
  .contactButton {
    margin-top: 10px;
    margin-bottom: 10px;

    button {
      width: 80%;
    }
  }
}

.trader-contact-adress {
  font-size: 0.8rem;
  margin-top: 1.4rem;

  span {
    font-weight: 300;
  }
}

.contactformdescription {
  margin-top: 40px;
}

a {
  font-size: 0.8rem;
}
