<div class="trader-contact-form" *ngIf="trader">
  <div class="text lightergreen">
    So sind wir erreichbar:
  </div>
  <div class="contactButtons">
    <div class="contactButton">
      <a [href]="'tel:' + trader.telephone">
        <app-lk-button [label]="trader.telephone" [minSizePercent]="70">
        </app-lk-button> </a
      ><br />
    </div>
    <div *ngIf="!trader.storeEmail" class="contactButton">
      <a [href]="'mailto:' + trader.email">
        <app-lk-button [label]="trader.email" [minSizePercent]="70">
        </app-lk-button>
      </a>
    </div>
    <div *ngIf="trader.storeEmail" class="contactButton">
      <a [href]="'mailto:' + trader.storeEmail">
        <app-lk-button [label]="trader.storeEmail" [minSizePercent]="70">
        </app-lk-button>
      </a>
    </div>
    <div *ngIf="trader.homepage" class="contactButton">
      <a [href]="trader.homepage" target="_blank">
        <app-lk-button [label]="trader.homepage" [minSizePercent]="70">
        </app-lk-button>
      </a>
    </div>

    <div class="trader-contact-adress" [innerHtml]="getAdress()"></div>
  </div>
  <form
    [formGroup]="contactForm"
    (ngSubmit)="onSubmit(trader.email, trader.businessname)"
  >
    <div class="text contactformdescription">
      Oder über das Kontaktformular:<br />
      <app-lk-textarea
        placeholder="Deine Nachricht an uns"
        formControlName="mail_message"
        type="mail_message"
      >
      </app-lk-textarea
      ><br /><br />
      Wie dürfen wir Dich kontaktieren?<br />
      <app-lk-input
        [warn]="mail_contact.touched && mail_contact.invalid"
        placeholder="E-Mail oder Telefonnummer*"
        formControlName="mail_contact"
      ></app-lk-input
      ><br /><br />
      <label for="agbread">
        <input type="checkbox" id="agbread" formControlName="agbRead" />
        Ich bestätige die
        <a href="https://www.lokalkauf.org/agb" target="blank">AGB</a>
        und
        <a href="https://www.lokalkauf.org/datenschutz" target="blank"
          >Datenschutzbestimmungen</a
        >
        gelesen zu haben und bin einverstanden
      </label>
    </div>
    <div class="contactButton">
      <app-lk-button
        [disabled]="!contactForm.valid"
        type="submit"
        label="Anfrage senden"
      >
      </app-lk-button>
    </div>
    <br />
    <app-lk-button
      type="button"
      (click)="navigateBackToOverview()"
      label="zurück zur Händerübersicht"
    >
    </app-lk-button>
    <br />
    <br />
  </form>
</div>
