<mat-toolbar color="default" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button [routerLink]="'/'" class="logo-link">
      <img src="assets/lokalkauf-logo.svg" alt="lokalkauf" />
    </a>
    <div fxHide.lt-md>
      <a mat-button (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-button [routerLink]="'/feedback'">Feedback</a>
      <a mat-button [routerLink]="'/aboutus'">Das sind wir</a>
      <a mat-button [routerLink]="'/press'">Presse</a>
      <a mat-button [routerLink]="'/faq'">Hilfe</a>
      <a mat-button [routerLink]="'/campaign'">#ichkaufelokal</a>
      <!--      <a
        mat-button
        href="https://www.ichkaufelokal.org/"
        target="_blank"
        rel="noopener noreferrer"
        >#ichkaufelokal</a
      >-->
    </div>
    <span class="menu-spacer"></span>
    <a
      mat-button
      [matMenuTriggerFor]="storeMenu"
      class="geschaeft-accent fancy-link-90"
    >
      <mat-icon>store</mat-icon> <span>Geschäftsbereich</span>
    </a>

    <mat-menu #storeMenu="matMenu" class="mat-elevation-z2">
      <button
        mat-menu-item
        [routerLink]="'/trader/login'"
        *ngIf="(userService.isLoggedIn$ | async) === false"
      >
        H&auml;ndler Login
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        [routerLink]="'/trader/profile'"
      >
        Mein Händlerprofil
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        (click)="userService.logout()"
      >
        Ausloggen
      </button>
    </mat-menu>
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" mode="site" fixedInViewport>
    <button mat-icon-button class="close-btn" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/feedback'"
        >Feedback</a
      >
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/aboutus'">
        Das sind wir
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/press'">
        Presse über uns
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/faq'">
        Hilfe
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/campaign'"
        >#ichkaufelokal</a
      >
      <!-- <a
        mat-list-item
        (click)="sidenav.close()"
        href="https://www.ichkaufelokal.org/"
        target="_blank"
        rel="noopener noreferrer"
        >#ichkaufelokal</a
      >-->
      <mat-divider></mat-divider>
      <a
        mat-list-item
        [routerLink]="'/trader/login'"
        *ngIf="(userService.isLoggedIn$ | async) === false"
      >
        H&auml;ndler Login
      </a>
      <a
        mat-list-item
        *ngIf="userService.isLoggedIn$ | async"
        [routerLink]="'/trader/profile'"
      >
        Mein Händlerprofil
      </a>
      <a
        mat-list-item
        *ngIf="userService.isLoggedIn$ | async"
        (click)="userService.logout()"
      >
        Ausloggen
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <div class="some-footer">
        <a
          mat-icon-button
          href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.lokalkauf.org"
          target="_blank"
        >
          <fa-icon [icon]="faFacebookF" size="2x" class="share-mono"></fa-icon>
        </a>

        <a
          mat-icon-button
          href="https://www.instagram.com/lokalkauf/"
          target="_blank"
        >
          <fa-icon [icon]="faInstagram" size="2x" class="share-mono"></fa-icon>
        </a>
      </div>
      <div class="links-footer">
        <a
          mat-list-item
          class="cookie-footer-link"
          (click)="this.openCookieConsent()"
        >
          Cookies
        </a>

        <a
          mat-list-item
          href="https://www.lokalkauf.org/3rdpartylicenses.txt"
          target="_blank"
          rel="noopener noreferrer"
        >
          Lizenzen
        </a>
        <a mat-list-item [routerLink]="'/feedback'">Feedback</a>
        <a mat-list-item [routerLink]="'/agb'"> AGB </a>
        <a mat-list-item [routerLink]="'/imprint'"> Impressum </a>
        <a mat-list-item mat-list-item [routerLink]="'/privacy'">
          Datenschutzerklärung
        </a>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>
<app-error-display></app-error-display>
