<mat-toolbar color="default" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button [routerLink]="'/'" class="logo-link">
      <img src="assets/lokalkauf-logo.svg" alt="lokalkauf" />
    </a>
    <span class="menu-spacer"></span>
    <div fxHide.lt-sm>
      <a mat-button (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-button [routerLink]="'/feedback'">Feedback</a>
      <a mat-button [routerLink]="'/aboutus'">Das sind wir</a>
      <a mat-button [routerLink]="'/press'">Presse</a>
      <a mat-button [routerLink]="'/faq'">Hilfe</a>
    </div>
    <button mat-mini-fab class="avatar" [matMenuTriggerFor]="storeMenu">
      <mat-icon>store</mat-icon>
    </button>
    <mat-menu #storeMenu="matMenu" class="mat-elevation-z0">
      <button
        mat-menu-item
        [routerLink]="'/trader/login'"
        *ngIf="(userService.isLoggedIn$ | async) === false"
      >
        H&auml;ndler Login
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        [routerLink]="'/trader/profile'"
      >
        Mein Händlerprofil
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        (click)="userService.logout()"
      >
        Ausloggen
      </button>
    </mat-menu>
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" mode="site" fixedInViewport>
    <button mat-icon-button class="close-btn" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/feedback'"
        >Feedback</a
      >
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/aboutus'">
        Das sind wir
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/press'">
        Presse über uns
      </a>
      <a mat-list-item (click)="sidenav.close()" [routerLink]="'/faq'">
        Hilfe
      </a>
      <mat-divider></mat-divider>
      <a
        mat-list-item
        [routerLink]="'/trader/login'"
        *ngIf="(userService.isLoggedIn$ | async) === false"
      >
        H&auml;ndler Login
      </a>
      <a
        mat-list-item
        *ngIf="userService.isLoggedIn$ | async"
        [routerLink]="'/trader/profile'"
      >
        Mein Händlerprofil
      </a>
      <a
        mat-list-item
        *ngIf="userService.isLoggedIn$ | async"
        (click)="userService.logout()"
      >
        Ausloggen
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <a
        mat-list-item
        href="http://www.info.lokalkauf.org/impressum"
        target="_blank"
        rel="noopener noreferrer"
      >
        Impressum
      </a>
      <a
        mat-list-item
        href="http://www.info.lokalkauf.org/agb"
        target="_blank"
        rel="noopener noreferrer"
      >
        AGB
      </a>
      <a
        mat-list-item
        href="http://www.info.lokalkauf.org/datenschutz"
        target="_blank"
        rel="noopener noreferrer"
      >
        Datenschutzerklärung
      </a>
      <a mat-list-item [routerLink]="'/feedback'">Feedback</a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>
<app-error-display></app-error-display>
