#header {
  height: 50px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 20px;

  div {
    height: 50px;
    display: inline-block;
  }

  #logo {
    img {
      width: auto;
      height: 50px;
    }

    display: block;
    width: 33px;
    float: left;
    margin-right: 10px;
  }

  color: rgb(152, 211, 90);
  font-family: Helvetica, Arial, sans-serif;

  #name {
    line-height: 60px;
    font-size: 20pt;
    letter-spacing: 3px;
    display: inline-block;

    #name-lastword {
      font-weight: bold;
    }
  }

  #shopping-cart, #burger-menu {
    float: right;
    width: 30px;
    display: block;
    margin-right: 20px;

    .mat-icon {
      line-height: 60px;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }

  #burger-menu {
    cursor: pointer;
  }
}

.mat-drawer-container{
  height:100%;
}

#sidenav-right, .sidenav-right-item, .sitenav-right-item-menu {
  font-family: Helvetica, Arial, sans-serif;
}

#sidenav-right {
  width: 200px;
  background-color:#ffffff;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-left: 1px solid darkgray;

  #close {
    position: relative;
    top: 0.8rem;
    right: 0.8rem;
    float: right;
    width: 30px;
    height: 30px;
    .mat-icon {
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }
}

.sidenav-right-item, .sitenav-right-item-menu {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: .6rem;
  margin-left: 1rem;
}

.sitenav-right-item-menu {
  cursor: default;
}

.sitenav-right-item-menu {
  border-bottom: solid .01rem rgb(152, 211, 90);
  padding-top: 1rem;
  margin-right: 1rem;
}
