<!-- <mat-sidenav-container #idenavContainer>
  <mat-sidenav
    #sidenav
    position="end"
    mode="over"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
  >
    <div id="sidenav-right">
      <div id="close">
        <mat-icon (click)="opened = false">close</mat-icon>
      </div>
      <div class="sidenav-right-item sitenav-right-item">&nbsp;</div>

      <div
        *ngIf="userService.isLoggedIn$ | async"
        class="sidenav-right-item"
        (click)="userService.logout()"
      >
        Ausloggen
      </div>
      <div class="sidenav-right-item" (click)="navigateTraders()">
        H&auml;ndlersuche
      </div>
      <div
        *ngIf="userService.isLoggedIn$ | async"
        class="sidenav-right-item"
        (click)="navigate('/trader/profile')"
      >
        Mein Händlerprofil
      </div>
      <div
        *ngIf="(userService.isLoggedIn$ | async) === false"
        class="sidenav-right-item"
        (click)="navigate('/trader/login')"
      >
        Händler Login
      </div>
      <div class="sidenav-right-item" (click)="navigate('/aboutus')">
        Das sind wir
      </div>
      <div class="sidenav-right-item separator">
        &nbsp;
      </div>
      <div class="sidenav-right-item" (click)="navigate('/faq')">
        Hilfe
      </div>
      <div class="sidenav-right-item">
        <a href="http://www.info.lokalkauf.org/impressum" target="_blank">
          Impressum
        </a>
      </div>
      <div class="sidenav-right-item">
        <a href="http://www.info.lokalkauf.org/agb" target="_blank">
          AGB
        </a>
      </div>
      <div class="sidenav-right-item">
        <a href="http://www.info.lokalkauf.org/datenschutz" target="_blank">
          Datenschutz-erklärung
        </a>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div
      width="100%"
      id="header"
      [ngClass]="router.url === '/' ? 'start-header' : ''"
    >
      <div *ngIf="router.url !== '/'" id="logo" (click)="navigate('/')">
        <img src="/assets/lokalkaufLogoApp.png" height="30" />
      </div>
      <div id="burger-menu">
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </div>
    </div>
    <div
      id="main_body"
      [ngClass]="router.url === '/' ? 'start-page' : 'app-content'"
    >
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-toolbar color="default" class="fixed-header">
  <mat-toolbar-row>
    <a mat-button [routerLink]="'/'" class="logo-link">
      <img src="/assets/lokalkaufLogoApp.png" />
    </a>
    <span class="menu-spacer"></span>
    <div fxHide.lt-sm>
      <a mat-button (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-button [routerLink]="'/aboutus'">Das sind wir</a>
      <a mat-button [routerLink]="'/faq'">Hilfe</a>
    </div>
    <button mat-mini-fab class="avatar" [matMenuTriggerFor]="storeMenu">
      <mat-icon>store</mat-icon>
    </button>
    <mat-menu #storeMenu="matMenu">
      <button
        mat-menu-item
        [routerLink]="'/trader/login'"
        *ngIf="(userService.isLoggedIn$ | async) === false"
      >
        H&auml;ndler Login
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        [routerLink]="'/trader/profile'"
      >
        Mein Händlerprofil
      </button>
      <button
        mat-menu-item
        *ngIf="userService.isLoggedIn$ | async"
        (click)="userService.logout()"
      >
        Ausloggen
      </button>
    </mat-menu>
    <button mat-icon-button (click)="sidenav.toggle()" fxHide.gt-xs>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row> -->
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="end" mode="site" fixedInViewport>
    <button mat-icon-button class="close-btn" (click)="sidenav.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <mat-nav-list>
      <a mat-list-item (click)="navigateTraders()" routerLinkActive="active"
        >H&auml;ndlersuche
      </a>
      <a mat-list-item [routerLink]="'/aboutus'"> Das sind wir </a>
      <a mat-list-item [routerLink]="'/faq'"> Hilfe</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <a
        mat-list-item
        href="http://www.info.lokalkauf.org/impressum"
        target="_blank"
      >
        Impressum
      </a>
      <a mat-list-item href="http://www.info.lokalkauf.org/agb" target="_blank">
        AGB
      </a>
      <a
        mat-list-item
        href="http://www.info.lokalkauf.org/datenschutz"
        target="_blank"
      >
        Datenschutz-erklärung
      </a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-spinner></app-spinner>
<app-error-display></app-error-display>
