@import '../../../variables.scss';

textarea {
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 100;
  min-width: 4rem;
  min-height: 8rem;
  letter-spacing: 1.5px;
  background-color: white;
  padding: 1rem;
  border: dotted 1px $lightergreen;
  width: 100%;
  outline: none;
}

textarea:focus {
  border-style: dashed;
  background-color: #f8f8f8;
}
