@import '../../../variables.scss';

button {
  color: $darkgreen;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-weight: 100;
  min-width: 4rem;
  height: 2.4rem;
  letter-spacing: 1.5px;
  border: 0;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;

  &:disabled,
  &:hover:disabled {
    color: lightgrey;
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.04);
  }

  &:hover {
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.1);
  }
}
