@import '../../../variables.scss';

button {
  color: $darkgreen;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  font-weight: 100;
  min-width: 4rem;
  height: 2rem;
  letter-spacing: 1.5px;
  border: 0;
  padding: 0px 25px;

  &:disabled,
  &:hover:disabled {
    color: lightgrey;
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.04);
  }

  &:hover {
    box-shadow: 6px 6px 11px 0px rgba(0, 0, 0, 0.1);
  }
}
