<lk-container class="imprint">
  <lk-page-title title="Impressum"></lk-page-title>
  <div class="imprint-content">
    <h2>Wichtige Vorbemerkung</h2>
    <p>
      Diese Webseite (<a
        href="https://www.lokalkauf.org"
        target="_blank"
        rel="noopener noreferrer"
        >www.lokalkauf.org</a
      >) ist erst vor kurzem, am 22.03.2020, veröffentlicht worden.
    </p>
    <p>
      Wir, die Betreiber dieser Seite, möchten Sie mit diesem Impressum darüber
      informieren, wer hinter diesem Angebot steht.
    </p>
    <p>
      Diese Seite wurde von einem Team veröffentlicht, das sich in einem
      sogenannten "Hackathon" gebildet hat. Wikipedia erklärt einen Hackathon
      wie folgt: "Ein Hackathon (Wortschöpfung aus „Hack" und „Marathon") ist
      eine kollaborative Soft- und Hardwareentwicklungsveranstaltung.
      Alternative Bezeichnungen sind „Hack Day", „Hackfest" und „codefest". Ziel
      eines Hackathons ist es, innerhalb der Dauer dieser Veranstaltung
      gemeinsam nützliche, kreative oder unterhaltsame Softwareprodukte
      herzustellen oder, allgemeiner, Lösungen für gegebene Probleme zu finden."
      (<a
        href="https://de.wikipedia.org/wiki/Hackathon"
        target="_blank"
        rel="noopener noreferrer"
        >https://de.wikipedia.org/wiki/Hackathon</a
      >)
    </p>
    <p>
      Wir, das Team hinter lokalkauf.org haben uns mit unserem Beitrag
      vorgenommen: Den stationären Einzelhandel zu retten.
    </p>

    <p>
      Der Hackathon, aus dem diese Seite hervorgegangen ist, ist der
      veranstaltete Hackathon #wirvsvirus, über den Sie sich unter
      <a
        href="https://wirvsvirushackathon.org/"
        target="_blank"
        rel="noopener noreferrer"
        >https://wirvsvirushackathon.org/</a
      >
      informieren können. Im Anschluss hat sich mit den folgenden Personen das
      Projekt lokalkauf gebildet: Alexander Schieweck. Björn Merschmeier,
      Christian Aschoff, Friederike Seidel, Ilja Leyberman, Kai Nitsch (nicht
      mehr aktiv), Konstantin Bücheler, Lukas Schmyrczyk, Maximilian Seidel,
      Mina Paulus, Patrick Simmelbauer, Philipp Salinski, Stefan Klement, Volkan
      Karakulak.
    </p>

    <p>
      Disclaimer: Zu einem Hackathon gehört, dass man sich als Team sehr
      kurzfristig zusammenfindet und dann, mit hohem Energieeinsatz und unter
      Zeitdruck Lösungen schafft, für die Softwareenwicklungs- und Projektteams
      sonst ein Vielfaches der Zeit benötigen würden. In einer solchen Situation
      ist Perfektionismus weder gewünscht noch möglich. Wir bemühen uns dennoch,
      alle rechtlichen Anforderungen sinnvoll zu erfüllen und Ihnen die
      Möglichkeit zu geben, sich hier über den Anbieter dieses Dienstes zu
      informieren. Bitte haben Sie Verständnis dafür, dass es sich um einen
      Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den
      nächsten Tagen und Wochen genutzt werden kann. Soweit sich für diesen
      Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese das
      Impressum sofort auf den dann geltenden Stand bringen. Bis dahin gilt als
      Dienstanbieter dieses noch experimentellen Angebots:
    </p>

    <h2>Diensteanbieter</h2>
    <p>
      Anbieter des Services lokalkauf und somit Ihr Vertragspartner für diesen
      Service sind Alexander Schieweck. Björn Merschmeier, Christian Aschoff,
      Friederike Seidel, Ilja Leyberman, Konstantin Bücheler, Lukas Schmyrczyk,
      Maximilian Seidel, Mina Paulus, Patrick Simmelbauer, Philipp Salinski,
      Stefan Klement, Volkan Karakulak (nachfolgend „lokalkauf“) handelnd unter
      <br />lokalkauf e.V. (in Gründung), Schuppstraße 49, 65191 Wiesbaden.
    </p>
    <p>
      Bitte haben Sie Verständnis dafür, dass es sich um einen
      Wettbewerbsbeitrag handelt, der für den Publikumsverkehr erst in den
      nächsten Tagen und Wochen genutzt werden kann. Soweit sich für diesen
      Beitrag eine Betreibergesellschaft findet, resp. bildet, wird diese das
      Impressum sofort auf den dann geltenden Stand bringen.
    </p>

    <h2>Kontaktmöglichkeiten</h2>
    <p>
      E-Mail-Adresse: <a href="mailto:info@lokalkauf.org">info@lokalkauf.org</a>
    </p>

    <h2>Streitbeilegung vor einer Verbraucherschlichtungsstelle</h2>
    <p>
      zur Teilnahme an der Verbraucherstreitschlichtung: Wir sind nicht bereit
      und nicht verpflichtet an einem Streitbeilegungsverfahren vor einer
      Verbraucherstreitschlichtungsstelle teilzunehmen.
    </p>

    <h2>Social Media und andere Onlinepräsenzen</h2>

    <p>
      Dieses Impressum gilt auch für die folgenden Social-Media-Präsenzen und
      Onlineprofile: <br /><a
        href="https://instagram.com/lokalkauf"
        target="_blank"
        rel="noopener noreferrer"
        >https://instagram.com/lokalkauf</a
      >
      <br /><a
        href="https://www.twitter.com/lokalkauf"
        target="_blank"
        rel="noopener noreferrer"
        >https://www.twitter.com/lokalkauf</a
      >
    </p>
    <h2>Haftungs- und Urheberrechtshinweise</h2>

    <p>
      Haftungsausschluss: <br />Die Inhalte dieses Onlineangebotes wurden
      sorgfältig und nach unserem aktuellen Kenntnisstand im Rahmen des bereits
      oben beschriebenen Hackathon erstellt. Sie dienen allein der Information
      und entfalten keine rechtlich bindende Wirkung, sofern es sich nicht um
      gesetzlich verpflichtende Informationen (z.B. das Impressum, die
      Datenschutzerklärung, AGB oder verpflichtende Belehrungen von
      Verbrauchern) handelt. Wir behalten uns vor, die Inhalte jederzeit
      vollständig oder teilweise zu ändern oder zu löschen, soweit vertragliche
      Verpflichtungen davon unberührt bleiben. Alle Angebote sind freibleibend
      und unverbindlich.
    </p>

    <p>
      Links auf fremde Webseiten: <br />Inhalte fremder Webseiten, auf die wir
      verweisen, liegen außerhalb unseres Verantwortungsbereiches. Wir machen
      sie uns nicht zu Eigen. Für alle Inhalte und insbesondere für Schäden, die
      aus der Nutzung der in den verlinkten Webseiten aufrufbaren Informationen
      entstehen, haftet allein der Anbieter der verlinkten Webseiten.
    </p>

    <p>
      Urheberrechte und Markenrechte: <br />Alle auf dieser Website
      dargestellten Inhalte, insbesondere Texte, Fotos, Grafiken, Marken und
      Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte,
      Markenrechte) geschützt. Die Verwendung, Vervielfältigung usw. unterliegen
      unseren Rechten oder den Rechten der jeweiligen Urheber bzw.
      Rechteverwalter.
    </p>

    <p>
      Hinweise auf Rechtsverstöße: <br />Sollten Sie innerhalb unseres
      Internetauftritts Rechtsverstöße feststellen, bitten wir Sie uns auf diese
      hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme
      unverzüglich entfernen.
    </p>
  </div>
</lk-container>
