.product-item {
  box-sizing: border-box;

  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);

  height: 100%;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  text-align: center;

  .image-wrapper {
    height: 150px;
    background-size: cover;
  }

  .price {
    color: rgb(152, 211, 90);
  }

  .shopping-cart-icon {
    float: right;
  }
}
