<a [routerLink]="'/trader-detail/' + trader.id" name="scroller.{{ trader.id }}">
  <mat-card>
    <img
      class="trader-thumbnail"
      [ngClass]="{
        placeholder:
          trader &&
          trader.thumbnailURL &&
          trader.thumbnailURL.indexOf('lokalkauf-pin') > -1
      }"
      [src]="trader.thumbnailURL"
      [alt]="trader.businessname"
    />
    <mat-card-header>
      <mat-card-title>{{ trader.businessname }}</mat-card-title>
      <mat-card-subtitle>
        <div class="text">
          {{ trader.street }}
          {{ trader.number }}
          <br />{{ trader.postcode }}
          {{ trader.city }}
        </div>
        <div class="distance-small">
          {{ trader.distance | number: '1.2-2':'de' }} km
          <ng-container *ngIf="(isTraderInBookmarks$ | async) === true">
            <button
              mat-icon-button
              (click)="removeBookmarkSmall($event, trader.id)"
            >
              <mat-icon class="green-bookmark-icon">favorite</mat-icon>
            </button>
          </ng-container>

          <ng-container *ngIf="(isTraderInBookmarks$ | async) !== true">
            <button
              mat-icon-button
              (click)="addBookmarkSmall($event, trader.id)"
            >
              <mat-icon>favorite_outline</mat-icon>
            </button>
          </ng-container>
          <ng-container *ngIf="trader.licence === 'ODbL'">
            <a
              href="https://www.openstreetmap.org/copyright"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="../../../assets/osm-attribution-16.png" />
            </a>
          </ng-container>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</a>
<div class="distance-large">
  <ng-container *ngIf="trader.licence === 'ODbL'">
    <a
      href="https://www.openstreetmap.org/copyright"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img class="osm-large" src="../../../assets/osm-attribution-24.png" />
    </a>
  </ng-container>
  <ng-container *ngIf="(isTraderInBookmarks$ | async) === true">
    <button mat-button (click)="removeBookmark(trader.id)">
      <mat-icon class="green-bookmark-icon">favorite</mat-icon>
    </button>
  </ng-container>

  <ng-container *ngIf="(isTraderInBookmarks$ | async) !== true">
    <button mat-button (click)="addBookmark(trader.id)">
      <mat-icon>favorite_outline</mat-icon>
    </button>
  </ng-container>
  {{ trader.distance | number: '1.2-2':'de' }} km
</div>
