@import '../../../theme/variables.scss';

a {
  color: inherit;
  text-decoration: none;
}

mat-card {
  display: flex;
  overflow: hidden;
  align-items: center;

  .trader-thumbnail {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: -16px;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-right: 16px;
    object-fit: cover;
  }

  .trader-item-content {
    width: 100%;
    display: flex;

    .headline {
      margin: 0.2rem 0;
      margin-top: 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .address {
      width: 100%;
      font-size: 0.8rem;
    }

    .distance {
      float: right;
      text-align: center;
    }

    .highlight {
      color: $normalgreen;
    }
  }
}
