@import '../../../variables.scss';

a {
  color: inherit;
  text-decoration: none;
}

.trader-item {
  box-sizing: border-box;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.2) !important;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;

  .image-wrapper {
    height: 150px;
    background-size: cover;
  }

  .title {
    font-size: 1rem;
  }

  .product-amount {
    color: $normalgreen;
  }

  .shopping-cart-icon {
    float: right;
  }
}
