<a
  [routerLink]="'/trader-detail/' + trader.id"
  name="scroller.{{ trader.id }}"
  *ngIf="trader$ | async as trader"
>
  <mat-card>
    <img
      class="trader-thumbnail"
      *ngIf="thumbnail$ | async as thumbnail; else placeholder"
      [src]="thumbnail"
      [alt]="trader.businessname"
    />
    <ng-template #placeholder>
      <img
        class="trader-thumbnail placeholder"
        src="./assets/lokalkauf-pin.svg"
        [alt]="trader.businessname"
      />
    </ng-template>
    <mat-card-header>
      <mat-card-title>{{ trader.businessname }}</mat-card-title>
      <mat-card-subtitle>
        <div class="distance">
          <span class="highlight">{{ trader.currentDistance }}</span> km
        </div>
        {{ trader.street }}
        {{ trader.number }}
        <br />{{ trader.postcode }}
        {{ trader.city }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</a>
