<a [routerLink]="'/trader-detail/' + trader.id" name="scroller.{{ trader.id }}">
  <div class="trader-item-container">
    <div class="image-left">
      <img src="{{ trader.image }}" *ngIf="trader.image" />
      <img src="./assets/lokalkauf-pin.png" *ngIf="!trader.image" />
    </div>
    <div class="content">
      <div class="headline">{{ (trader$ | async)?.businessname }}</div>
      <div class="address">
        <div class="distance"><span class="highlight">1,8</span><br />km</div>
        {{ (trader$ | async)?.street }}
        {{ (trader$ | async)?.number }}
        <br />{{ (trader$ | async)?.postcode }}
        {{ (trader$ | async)?.city }}
      </div>
    </div>
  </div>
</a>
