@import '../../../variables.scss';

#before {
  text-align: center;

  span {
    display: inline-block;
    margin: 20px;
    font-size: 0.8rem;
  }
}

#fullsum {
  text-align: center;
  .label {
    margin: 20px;
    font-size: 0.8rem;
  }

  .sum {
    color: $lightestgreen;
    margin: 15px;
  }
}
