#before {
  text-align: center;

  span {
    display: inline-block;
    margin: 20px;
    font-size: 0.8rem;
  }
}

#fullsum {
  text-align: center;
  .label {
    margin: 20px;
    font-size: 0.8rem;
  }

  .sum {
    color: rgb(152, 211, 90);
    margin: 15px;
  }
}
