@import '../../../variables.scss';

a {
  color: inherit;
  text-decoration: none;
}

.trader-item-container {
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2) !important;
  height: 100px;
  width: 100%;
  border-radius: 10px;

  .image-left {
    height: 100px;
    width: 100px;
    float: left;

    border-top-left-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;

    background-position: center center;
    background-size: cover;

    // img {
    //   width: 100%;
    //   height: 100%;
    //   border: 0;
    //   border-top-left-radius: 10px 10px;
    //   border-bottom-left-radius: 10px 10px;
    // }
  }

  .content {
    float: left;
    margin: 0.4rem;
    width: calc(100% - 120px);

    .headline {
      font-size: 0.9rem;
      margin: 0.2rem 0;
      padding-left: 0.4rem;
    }

    .address {
      float: left;
      width: 100%;
      font-size: 0.7rem;
      padding-left: 0.4rem;
    }

    .distance {
      float: right;
      text-align: center;
    }

    .highlight {
      color: $normalgreen;
    }
  }
}
