<lk-container class="privacy">
  <lk-page-title title="Datenschutzerkl&auml;rung"></lk-page-title>

  <div class="privacy-content">
    <h2>1. Information über die Erhebung personenbezogener Daten</h2>
    <p>
      (1) Im Folgenden informieren wir über die Erhebung personenbezogener Daten
      bei Nutzung unserer Website
      <a
        href="https://www.lokalkauf.org"
        target="_blank"
        rel="noopener noreferrer"
        >www.lokalkauf.org</a
      >
      (nachfolgend „Website“). Personenbezogene Daten sind alle Daten, die auf
      Sie persönlich beziehbar sind, z. B. Name, Adresse, E-Mail-Adressen,
      Nutzerverhalten.
    </p>
    <p>
      (2) Verantwortlicher gem. Art. 4 Abs. 7 EU-Datenschutz-Grundverordnung
      (DSGVO) ist der lokalkauf e.V. (in Gründung), Wiesbaden.
    </p>
    <p>
      (3) Bei Ihrer Kontaktaufnahme mit uns per E-Mail oder über ein
      Kontaktformular werden die von Ihnen mitgeteilten Daten von uns
      gespeichert, um Ihre Fragen zu beantworten. Die in diesem Zusammenhang
      anfallenden Daten löschen wir, nachdem die Speicherung nicht mehr
      erforderlich ist, oder schränken die Verarbeitung ein, falls gesetzliche
      Aufbewahrungspflichten bestehen.
    </p>
    <p>
      (4) Falls wir für einzelne Funktionen unseres Angebots auf beauftragte
      Dienstleister zurückgreifen oder Ihre Daten für werbliche Zwecke nutzen
      möchten, werden wir Sie untenstehend im Detail über die jeweiligen
      Vorgänge informieren. Dabei nennen wir auch die festgelegten Kriterien der
      Speicherdauer.
    </p>
    <h2>2. Rechte betroffener Personen</h2>
    <p>
      (1) Dem Nutzer und sonstigen betroffenen Personen stehen in Bezug auf
      deren personenbezogenen Daten folgende Rechte uns gegenüber zu:
    </p>
    <ul>
      <li>
        Recht auf Auskunft über die betreffenden personenbezogenen Daten (Art.
        15 DSGVO)
      </li>
      <li>Recht auf Berichtigung (Art. 16 DSGVO)</li>
      <li>Recht auf Löschung (Art. 17 DSGVO)</li>
      <li>Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)</li>
      <li>
        Widerspruchsrecht gegen die Verarbeitung, falls die Datenverarbeitung
        aufgrund von Art. 6 Abs. 1 lit. e oder lit. f DSGVO erfolgt (Art. 21
        DSGVO); siehe hierzu auch der nachfolgende Hinweis auf das
        Widerspruchsrecht nach Art. 21 DSGVO
      </li>
      <li>Recht auf Datenübertragbarkeit (Art. 20 DSGVO)</li>
      <li>
        Recht, eine erteilte Einwilligung jederzeit zu widerrufen, ohne dass die
        Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten
        Verarbeitung berührt wird, wenn die Datenverarbeitung auf einer
        Einwilligung nach Art. 6 Abs. 1 lit. a oder Artikel 9 Abs. 2 lit. a
        DSGVO beruht
      </li>
    </ul>
    <p>
      (2) Sie haben zudem das Recht, sich bei einer Datenschutz-Aufsichtsbehörde
      über die Verarbeitung Ihrer personenbezogenen Daten durch uns zu
      beschweren (Art. 77 DSGVO).
    </p>
    <h2>3. Erhebung personenbezogener Daten bei Besuch unserer Website</h2>
    <p>
      (1) Bei der bloß informatorischen Nutzung der Website erheben wir nur die
      personenbezogenen Daten, die Ihr Browser an unseren Server übermittelt.
      Wenn Sie unsere Website betrachten möchten, erheben wir die folgenden
      Daten, die für uns technisch erforderlich sind, um Ihnen unsere Website
      anzuzeigen und die Stabilität und Sicherheit zu gewährleisten
      (Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. f) DSGVO):
    </p>
    <ul>
      <li>IP-Adresse</li>
      <li>Datum und Uhrzeit der Anfrage</li>
      <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
      <li>Inhalt der Anforderung (konkrete Seite)</li>
      <li>Zugriffsstatus/HTTP-Statuscode</li>
      <li>jeweils übertragene Datenmenge</li>
      <li>Website, von der die Anforderung kommt</li>
      <li>Browser</li>
      <li>Betriebssystem und dessen Oberfläche</li>
      <li>Sprache und Version der Browsersoftware.[CW1]</li>
    </ul>
    <p>
      (2) Zusätzlich zu den zuvor genannten Daten werden bei Ihrer Nutzung
      unserer Website sog. Cookies auf Ihrem Rechner gespeichert. Bei Cookies
      handelt es sich um kleine Textdateien, die auf Ihrer Festplatte dem von
      Ihnen verwendeten Browser zugeordnet gespeichert werden und durch welche
      der Stelle, die den Cookie setzt (hier durch uns), bestimmte Informationen
      zufließen. Cookies können keine Programme ausführen oder Viren auf Ihren
      Computer übertragen. Sie dienen dazu, das Internetangebot insgesamt
      nutzerfreundlicher und effektiver zu machen.
    </p>
    <p>
      <strong>(3) Einsatz von Cookies:</strong>
    </p>
    <p>
      a) Diese Website nutzt folgende Arten von Cookies, deren Umfang und
      Funktionsweise im Folgenden erläutert werden:
    </p>
    <ul>
      <li>Transiente Cookies (dazu b) und</li>
      <li>Persistente Cookies (dazu c)</li>
      <li>
        Cookies in Zusammenhang mit Diensten Dritter, wie nachfolgend
        beschrieben
      </li>
    </ul>
    <p>
      b) Transiente Cookies werden automatisiert gelöscht, wenn Sie den Browser
      schließen. Dazu zählen insbesondere die Session-Cookies. Diese speichern
      eine sogenannte Session-ID, mit welcher sich verschiedene Anfragen Ihres
      Browsers der gemeinsamen Sitzung zuordnen lassen. Dadurch kann Ihr Rechner
      wiedererkannt werden, wenn Sie auf unsere Website zurückkehren. Die
      Session-Cookies werden gelöscht, wenn Sie sich ausloggen oder den Browser
      schließen.
    </p>
    <p>
      c) Persistente Cookies werden automatisiert nach einer vorgegebenen Dauer
      gelöscht, die sich je nach Cookie unterscheiden kann. Sie können die
      Cookies in den Sicherheitseinstellungen Ihres Browsers jederzeit löschen.
    </p>
    <p>
      d) Sie können Ihre Browser-Einstellung entsprechend Ihren Wünschen
      konfigurieren und z. B. die Annahme von Third-Party-Cookies oder allen
      Cookies ablehnen. Informationen über die Verwaltung und Löschung von
      Cookies sowie eine entsprechende Anleitung hierzu für die gängigen Browser
      sind zudem unter www.meine-cookies.org abrufbar. Wir weisen Sie jedoch
      darauf hin, dass Sie dann eventuell nicht alle Funktionen dieser Website
      nutzen können.
    </p>
    <p>
      e) Diese gespeicherten Informationen werden getrennt von eventuell weiter
      bei uns angegeben Daten gespeichert. Insbesondere werden die Daten der
      Cookies nicht mit Ihren weiteren Daten, sofern solche übermittelt werden,
      verknüpft.
    </p>
    <p></p>
    <h2>
      4. Weitere Funktionen und Angebote unserer Website (insb. Registrierung)
    </h2>
    <p>
      (1) Neben der rein informatorischen Nutzung unserer Website bieten wir
      verschiedene Leistungen an, die Sie bei Interesse nutzen können (z. B. uns
      Feedback geben). Dazu müssen Sie in der Regel weitere personenbezogene
      Daten angeben, die wir zur Erbringung der jeweiligen Leistung nutzen und
      für die die zuvor genannten Grundsätze zur Datenverarbeitung gelten.
    </p>
    <p>
      (2) So besteht für Händler insbesondere die Möglichkeit, sich auf unserer
      Website zu registrieren, um das eigene Geschäft dann unter
      www.lokalkauf.org unter der jeweiligen Stand zu bewerben, z. B. auf einen
      Lieferdienst hinzuweisen. Für die Registrierung als Händler müssen u. a.
      die folgenden Pflichtangaben gemacht werden: Firmenname, Telefonnummer,
      Straße, Hausnummer, dienstliche Telefonnummer, PLZ, Stadt, Standort
      (Auswahl über Kartenmaterial); außerdem muss eine dienstliche
      E-Mail-Adresse angegeben werden uns ein sicheres Passwort für den Login
      definiert werden. Als optionale Informationen können Vorname und Nachname
      des Registrierenden angegeben werden. Ferner können im Rahmen der
      Beschreibung des Betriebes noch weitere Angaben zum Betrieb gemacht werden
      und auch ein Logo hinterlegt werden. Die im Rahmen der Registrierung als
      Händler erhobenen personenbezogenen Daten werden auf der Rechtsgrundlage
      des Art. 6 Abs. 1 lit. b) DSGVO zur Abwicklung des Vertragsverhältnisses
      (Pflichtangaben) sowie gemäß Art. 6 Abs. 1 lit. a) DSGVO auf Basis einer
      Einwilligung des Betroffenen (Optionale Angaben) erhoben und gespeichert.
      Die Daten werden spätestens zum Ende des Jahres, an dem die Registrierung
      durch den Nutzer aufgehoben wurde, gelöscht, es sei denn es bestehen
      gesetzliche Aufbewahrungspflichten, die eine längere Speicherung
      erforderlich machen.
    </p>
    <p>
      (3) Dem registrierten Händler, aber auch dem Nutzer unserer Website,
      sollte bewusst sein, dass wir im Rahmen der Darstellung der einzelnen
      Betriebe u. a. eine direkte Kontaktmöglichkeit für den Besucher der
      Website anbieten. Dort öffnet sich ein spezielles Kontaktformular, über
      welches der Nutzer direkten Kontakt mit dem Händler aufnehmen kann. Diese
      Form der Kontaktvermittlung wird über uns abgewickelt, so dass es zu einer
      Weitergabe personenbezogener Daten des Nutzers (Nachricht, E-Mail-Adresse
      und/oder Telefonnummer) über uns an den jeweiligen Händler kommt. Über
      diese Kontaktmöglichkeit sollten nach Möglichkeit keine sensiblen
      Informationen ausgetauscht werden.
    </p>
    <p>
      (4) Teilweise bedienen wir uns zur Verarbeitung Ihrer Daten externer
      Dienstleister. Diese wurden von uns sorgfältig ausgewählt und beauftragt,
      sind an unsere Weisungen gebunden und werden regelmäßig kontrolliert.
    </p>
    <p>
      (5) Soweit unsere Dienstleister oder Partner ihren Sitz in einem Staat
      außerhalb des Europäischen Wirtschaftsraumes (EWR) haben, informieren wir
      Sie über die Folgen dieses Umstands in der Beschreibung des Angebotes.
    </p>
    <p>
      (6) Wir nehmen keine automatisierte Entscheidungsfindung und kein
      Profiling vor.
    </p>
    <p></p>
    <h2>5. Newsletter</h2>
    <p>
      (1) Mit Ihrer Einwilligung können Sie unseren Newsletter abonnieren, mit
      dem wir Sie über unsere aktuellen interessanten Angebote informieren. Die
      beworbenen Waren und Dienstleistungen sind in der Einwilligungserklärung
      benannt.
    </p>
    <p>
      (2) Den Newsletter versenden wir über den Drittanbieter Sendgrid. Näheres
      zum Anbieter Sendgrid können Sie Ziffer 8. „Dienste von Drittanbietern“
      entnehmen.
    </p>
    <p>
      (3) Für die Anmeldung zu unserem Newsletter verwenden wir das sog.
      Double-Opt-In-Verfahren. Das heißt, dass wir Ihnen nach Ihrer Anmeldung
      eine E-Mail an die angegebene E-Mail-Adresse senden, in welcher wir Sie um
      Bestätigung bitten, dass Sie den Versand des Newsletters wünschen.
    </p>
    <p>
      (4) Pflichtangabe für die Übersendung des Newsletters ist allein Ihre
      E-Mail-Adresse. Die Angabe weiterer, gesondert markierter Daten ist
      freiwillig und wird verwendet, um Sie persönlich ansprechen zu können.
      Nach Ihrer Bestätigung speichern wir Ihre E-Mail-Adresse zum Zweck der
      Zusendung des Newsletters. Rechtsgrundlage ist Art. 6 Abs. 1 S. 1 lit. a)
      DSGVO.
    </p>
    <p>
      (5) Ihre Einwilligung in die Übersendung des Newsletters können Sie
      jederzeit widerrufen und den Newsletter abbestellen. Den Widerruf können
      Sie durch Klick auf den in jeder Newsletter-E-Mail bereitgestellten Link,
      per E-Mail an info@lokalkauf.org oder durch eine Nachricht an die im
      Impressum angegebenen Kontaktdaten erklären.
    </p>
    <h2>6. Widerspruch oder Widerruf gegen die Verarbeitung Ihrer Daten</h2>
    <p>A. Widerspruchsrecht aufgrund der besonderen Situation</p>
    <p>
      Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
      ergeben, jederzeit gegen die Verarbeitung Sie betreffender
      personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 lit. e
      (öffentliche Sicherheit) oder f (Datenverarbeitung auf der Grundlage einer
      Interessenabwägung) DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch
      für ein auf diese Bestimmungen gestütztes Profiling. Wir verarbeiten die
      personenbezogenen Daten nicht mehr, es sei denn, wir können zwingende
      schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen,
      Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der
      Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
    </p>
    <p>B. Widerspruchsrecht bei Direktwerbung</p>
    <p>
      Falls wir personenbezogene Daten von Ihnen verarbeiten, um Direktwerbung
      zu betreiben, so haben Sie das Recht, jederzeit Widerspruch gegen die
      Verarbeitung Sie betreffender personenbezogener Daten zum Zwecke
      derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es
      mit solcher Direktwerbung in Verbindung steht. Widersprechen Sie der
      Verarbeitung für Zwecke der Direktwerbung, so werden die personenbezogenen
      Daten nicht mehr für diese Zwecke verarbeitet.
    </p>
    <p>C. Ausübung des Widerspruchsrechts</p>
    <p>
      Das Widerspruchsrecht kann formlos ausgeübt werden, z. B. auch per E-Mail.
      Unsere Kontaktdaten können Sie dem Impressum entnehmen.
    </p>
    <p></p>
    <h2>7. Unterauftragnehmer und Empfänger personenbezogener Daten</h2>
    <p>
      (1) Wir setzen im Rahmen der Verarbeitung der personenbezogenen Daten
      Unterauftragnehmer ein und schließen mit diesen Auftragsverarbeitern einen
      Vertrag gemäß den Anforderungen des Art. 28 DSGVO.
    </p>
    <p>
      Wir nutzen den Mailservice Sendgrid, für die Versendung von
      Benachrichtigungen, wie unseren Newsletter. Näheres zu Sendgrid können Sie
      Ziffer 8. „Dienste von Drittanbietern“ entnehmen.
    </p>
    <p>
      (2) Eine Übermittlung Ihrer personenbezogenen Daten an andere als die
      bereits genannten Unternehmen findet nicht statt.
    </p>
    <p></p>
    <h2>8. Dienste von Drittanbietern</h2>
    <p>(1) Einsatz von Wix (www.wix.com)</p>
    <p>
      Wir setzen für das Webdesign und das Hosting unserer Website den Dienst
      Wix (Wix.com Ltd.) ein. Wix.com ist zertifizierter Teilnehmer des EU-US
      Privacy Shield Frameworks. Wix.com hat sich dazu verpflichtet, sämtliche
      von Mitgliedstaaten der Europäischen Union (EU) erhaltenen
      personenbezogenen Daten gemäß dem Privacy Shield Framework entsprechend
      dessen geltenden Grundsätzen handzuhaben. Die Datenschutzrichtlinie von
      Wix.com ist unter
      <a
        href="https://de.wix.com/about/privacy"
        target="_blank"
        ref="noopener noreferrer"
        >https://de.wix.com/about/privacy</a
      >
      abrufbar.
    </p>
    <p>
      Die Rechtsgrundlage dieser Datenverarbeitung ist Art. 6 Abs. 1 lit. f)
      DSGVO, da wir ein berechtigtes Interessen daran haben, die Funktionsweise
      unserer Website zu gewährleisten.
    </p>
    <p>(2) Einsatz von SoTrusty</p>
    <p>
      Die Rechtsgrundlage dieser Datenverarbeitung ist Art. 6 Abs. 1 lit. b)
      DSGVO, da die IP-Adresse benötigt wird, um Ihnen die Inhalte liefern zu
      können.
    </p>
    <p>(3) Einsatz von Sendgrid</p>
    <p>
      Auf unserer Internetseite haben wir Sendgrid, Sendgrid, Inc., 41 Corsham
      St Hoxton, London, N1 6DR, Vereinigtes Königreich (UK) als einen Dienst
      zum Mailversand integriert. Sendgrid ist ein kommerzieller
      Service-Anbieter für E-Mail-Versand. Wir nutzen den Mailversand, wenn wir
      Ihnen, als Benutzern für die verfügbaren Dienste Benachrichtigungen
      schicken müssen.
    </p>
    <p>
      Der Versanddienstleister wird auf Grundlage unserer berechtigten
      Interessen gem. Art. 6 Abs. 1 lit. f) DSGVO und eines
      Auftragsverarbeitungsvertrages gem. Art. 28 Abs. 3 S. 1 DSGVO eingesetzt.
    </p>
    <p>
      Sendgrid kann die Daten der Empfänger in pseudonymer Form, d.h. ohne
      Zuordnung zu einem Nutzer, zur Verbesserung der eigenen Dienste nutzen,
      z.B. zur Optimierung der Darstellung der Newsletter, zur technischen
      Verbesserung des Versandes und oder für statistische Zwecke verwenden. Der
      Versanddienstleister nutzt die Daten unserer Empfänger von Newslettern
      jedoch nicht, um die Daten an Dritte weiterzugeben oder um diese selbst
      anzuschreiben.
    </p>
    <p>
      Die Datenschutzbestimmungen des Versanddienstleisters können Sie hier
      einsehen:
      <a
        href="https://sendgrid.com/policies/privacy/services-privacy-policy/"
        target="_blank"
        ref="noopener noreferrer"
        >https://sendgrid.com/policies/privacy/services-privacy-policy/</a
      >.
    </p>
    <p>(4) Einsatz von Google Maps</p>
    <p>
      Damit Sie uns leichter finden können, haben wir in unsere Webseite
      Kartenmaterial des Dienstes Google Maps von Google LLC, 1600 Amphitheatre
      Parkway, Mountain View, CA 94043, USA („Google“) über eine API
      eingebunden. Um die Inhalte in Ihrem Browser darstellen zu können, muss
      Google Ihre IP-Adresse erhalten, denn sonst könnte Ihnen Google diese
      eingebundenen Inhalte nicht liefern.
    </p>
    <p>
      Die Rechtsgrundlage dieser Datenverarbeitung ist Art. 6 Abs. 1 lit. b)
      DSGVO, da die IP-Adresse benötigt wird, um Ihnen die Inhalte liefern zu
      können. Bei dieser Verarbeitung erfolgt unsere Zusammenarbeit mit Google
      auf Grundlage eines Vertrags über die gemeinsame Verantwortlichkeit gemäß
      Art. 26 DSGVO, der hier abgerufen werden kann:
    </p>
    <p>
      <a
        href="https://privacy.google.com/intl/de/businesses/mapscontrollerterms/"
        target="_blank"
        ref="noopener noreferrer"
        >https://privacy.google.com/intl/de/businesses/mapscontrollerterms/</a
      >
    </p>
    <p>
      Weitere Informationen zur Datenverarbeitung durch Google finden Sie in den
      Datenschutzrichtlinien von Google unter
      <a
        href="https://www.google.de/intl/de/policies/privacy/"
        target="_blank"
        ref="noopener noreferrer"
        >https://www.google.de/intl/de/policies/privacy/</a
      >.
    </p>
    <p>(5) Einsatz von Google Analytics</p>
    <p>
      Diese Website benutzt Google Analytics, einen Webanalysedienst von Google
      LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA („Google“).
      Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem
      Computer gespeichert werden und die eine Analyse der Benutzung der Website
      durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über
      Ihre Benutzung dieser Website werden in der Regel an einen Server von
      Google in den USA übertragen und dort gespeichert. Im Falle der
      Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse
      von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union
      oder in anderen Vertragsstaaten des Abkommens über den Europäischen
      Wirtschaftsraum zuvor gekürzt. Wir weisen Sie darauf hin, dass auf dieser
      Website Google Analytics um den Code "gat._anonymizeIp();" erweitert
      wurde, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking)
      zu gewährleisten.
    </p>
    <p>
      Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
      in den USA Übertragen und dort gekürzt. Im Auftrag des Betreibers dieser
      Website wird Google diese Informationen benutzen, um Ihre Nutzung der
      Website auszuwerten, um Reports über die Websiteaktivitäten
      zusammenzustellen und um weitere mit der Websitenutzung und der
      Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber
      zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser
      übermittelte IP-Adresse wird nicht mit anderen Daten von Google
      zusammengeführt.
    </p>
    <p>
      Sie können die Speicherung der Cookies durch eine entsprechende
      Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch
      darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
      Funktionen dieser Website vollumfänglich werden nutzen können. Sie können
      darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre
      Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google
      sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das
      unter dem folgenden Link verfügbare Browser-Plugin herunterladen und
      installieren: http://tools.google.com/dlpage/gaoptout?hl=de.
    </p>
    <p>
      Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie
      unter
      <a
        href="https://www.google.com/analytics/terms/de.html"
        target="_blank"
        ref="noopener noreferrer"
        >https://www.google.com/analytics/terms/de.html</a
      >
      bzw. unter
      <a
        href="https://www.google.de/intl/de/policies/"
        target="_blank"
        ref="noopener noreferrer"
        >https://www.google.de/intl/de/policies/</a
      >
    </p>
    <p>(6) Einsatz von Open Street Map</p>
    <p>
      Auch über Open Street Map, von FOSSGIS e.V., Römerweg 5, 79199
      Kirchzarten, binden wir Kartenmaterial über eine API in unsere Website
      ein. Open Street Map erhält ebenfalls die IP-Adresse, um die eingebundenen
      Inhalte liefern zu können.
    </p>
    <p></p>
    <p>
      Die Rechtsgrundlage dieser Datenverarbeitung erfolgt ebenfalls aufgrund
      von Art. 6 Abs. 1 lit. b) DSGVO. Die IP-Adresse wird benötigt, um die
      gewünschten Inhalte liefern zu können. Die Verarbeitung erfolgt ebenfalls
      aufgrund eines Vertrags mit FOSSGIS e. V.
    </p>
    <p>
      Wir nutzen den Dienst Trello, des Unternehmens Atlassian als Ticket-System
      für den technischen Support. Dieser ist notwendig, um die gewünschte
      Funktionsfähigkeit unserer Webseite zu gewährleisten. Insofern erfolgt die
      Datenverarbeitung von Daten, die Trello hierbei einsehen kann aufgrund von
      Art. 6 Abs. 1 lit. b) DSGVO.
    </p>
    <h2>9. Schutz der personenbezogenen Daten</h2>
    <p>
      (1) Wir treffen technische und organisatorische Maßnahmen gemäß den
      Anforderungen von Art. 32 DSGVO zum Schutz der personenbezogenen Daten des
      Nutzers.
    </p>
    <p>
      (2) Personenbezogene Daten des Nutzers werden bei der Übermittlung an die
      Webseite mittels HTTPS verschlüsselt.
    </p>
    <p></p>
    <h2>10. Rechtsgrundlagen</h2>
    <p>
      Nach Maßgabe des Art. 13 DSGVO teilen wir Ihnen die Rechtsgrundlagen
      unserer Datenverarbeitungen mit.
    </p>
    <ul>
      <li>
        Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine
        Einwilligung der betroffenen Person einholen, dient Art. 6 Abs. 1 lit.
        a) DSGVO als Rechtsgrundlage.
      </li>
      <li>
        Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung
        eines Vertrages, dessen Vertragspartei die betroffene Person ist,
        erforderlich ist, dient Art. 6 Abs. 1 lit. b) DSGVO als Rechtsgrundlage.
        Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung
        vorvertraglicher Maßnahmen erforderlich sind.
      </li>
      <li>
        Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer
        rechtlichen Verpflichtung erforderlich ist, der wir unterliegen, dient
        Art. 6 Abs. 1 lit. c) DSGVO als Rechtsgrundlage.
      </li>
      <li>
        Rechtsgrundlage für die vorübergehende Speicherung der Daten und der
        Logfiles ist Art. 6 Abs. 1 lit. f) DSGVO.
      </li>
      <li>
        Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter
        Verwendung technisch notweniger Cookies ist Art. 6 Abs. 1 lit. f) DSGVO.
        Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter
        Verwendung von Cookies zu Analysezwecken ist Art. 6 Abs. 1 lit. f)
        DSGVO.
      </li>
      <li>
        Ist die Verarbeitung zur Wahrung eines berechtigten Interesses von uns
        oder eines Dritten erforderlich und überwiegen die Interessen,
        Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte
        Interesse nicht, so dient Art. 6 Abs. 1 lit. f) DSGVO als
        Rechtsgrundlage für die Verarbeitung.
      </li>
    </ul>
    <p></p>
    <h2>11. Datenschutzaufsichtsbehörde und Beschwerderecht</h2>
    <p>
      Die für uns zuständige Datenschutzaufsichtsbehörde, bei der (neben
      anderen) auch eine Beschwerde über eine Verletzung von Datenschutzrecht
      eingereicht werden kann, ist:
    </p>
    <p>
      Der Hessische Beauftragte für Datenschutz und Informationsfreiheit
      <br />Gustav-Stresemann-Ring 1 <br />Telefon: 0611-14080 <br />Telefax:
      0611-1408611 <br />E-Mail:
      <a href="mailto:poststelle@datenschutz.hessen.de"
        >poststelle@datenschutz.hessen.de</a
      >
    </p>
    <h2>12. Aktualisierung dieser Datenschutzerklärung</h2>
    <p>
      Von Zeit zu Zeit ist es erforderlich, den Inhalt der vorliegenden
      Datenschutzerklärung anzupassen. Wir behalten uns daher vor, diese
      jederzeit zu ändern. Wir werden die geänderte Version der
      Datenschutzhinweise registrierten Nutzern vor Inkrafttreten per E-Mail
      übermitteln und an derselben Stelle wie die vorliegenden
      Datenschutzhinweise veröffentlichen.
    </p>
    <p></p>
    <p>Stand: Mai 2020</p>
  </div>
</lk-container>
