<div *ngIf="product$ | async as product" id="details">
  <mat-card>
    <img mat-card-avatar [src]="product.image">
  </mat-card>
  <div>
    <h1>{{product.name}}</h1>
    <div *ngIf="product.description" id="description">
      {{product.description}}
    </div>
    <div id="price">
      {{product.price}}
    </div>
  </div>
  <mat-icon _ngcontent-oeo-c39="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" (click)="addToCart(product)">shopping_cart</mat-icon>
</div>
