<div *ngIf="product$ | async as product" id="details">
  <mat-card>
    <img mat-card [src]="product.image">
  </mat-card>
  <div>
    <div id="title">{{product.name}}</div>
    <div *ngIf="product.description" id="description">
      {{product.description}}
    </div>
    <div id="price">
      {{product.price |  number:'1.2-2' }} &euro;
    </div>
  </div>
  <mat-icon _ngcontent-oeo-c39="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" (click)="addToCart(product)">shopping_cart</mat-icon>
</div>
