<div *ngIf="product$ | async as product" id="details">
  <mat-card>
    <img mat-card [src]="product.defaultImagePath" [alt]="product.name" />
  </mat-card>
  <div>
    <div id="product-detail-title">{{ product.name }}</div>
    <div *ngIf="product.description" id="description">
      {{ product.description }}
    </div>
    <div id="product-detail-price">
      {{ product.price | number: '1.2-2':'de' }} &euro;
    </div>
    <div id="product-detail-button">
      <button
        mat-raised-button
        class="order-button"
        (click)="addToCart(product.id)"
      >
        nehm ich
      </button>
    </div>
  </div>
</div>
