.mat-card {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
  }
}

h1 {
  margin-top: 1.6rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

#description {
  margin: 1.2rem 0rem;
  font-size: 0.9rem;
}

#price {
  color: rgb(152, 211, 90);
  font-size: 0.9rem;
}
