.mat-card {
  border-radius: 10px;
  border: dashed 1px rgb(152, 211, 90);
  box-shadow: none !important;

  img {
    width: 100%;
    height: auto;
  }
}

#product-detail-title {
  padding-top: 1.6rem;
  font-size: 0.9rem;
  font-weight: 200;
}

#description {
  margin-top: 1.2rem;
  font-size: 0.9rem;
}

#product-detail-price {
  margin-top: 1.2rem;
  color: rgb(152, 211, 90);
  font-size: 0.9rem;
}

#product-detail-button {
  margin-top: 1.2rem;
  text-align: center;

  .order-button {
    color: rgb(82, 145, 15);
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 100;
    min-width: 10rem;
    height: 2.4rem;
    letter-spacing: 1.5px;
  }
}

.snackbar {
  background-color: red;
}
