@import './../../../theme/variables.scss';

.mat-card {
  border-radius: 10px;
  border: dashed 1px $lightestgreen;
  box-shadow: none !important;

  max-width: 680px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    height: auto;
  }
}

#product-detail-title {
  padding-top: 1.6rem;
  font-size: 0.9rem;
  font-weight: 200;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

#description {
  margin-top: 1.2rem;
  font-size: 0.9rem;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

#product-detail-price {
  margin-top: 1.2rem;
  color: $lightestgreen;
  font-size: 0.9rem;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

#product-detail-button {
  margin-top: 1.2rem;
  text-align: center;

  .order-button {
    color: $darkgreen;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    font-weight: 100;
    min-width: 10rem;
    height: 2.4rem;
    letter-spacing: 1.5px;
  }
}

.snackbar {
  background-color: red;
}
