@import './variables.scss';

h1 {
  color: $lightestgreen;
}

.text {
  font-size: 0.8rem;
  color: $appgrey;
}

.lightestgreen {
  color: $lightestgreen;
}

.lightergreen {
  color: $lightergreen;
}
