<div>
  <h1>Merkliste teilen</h1>
  <div class="abc">
    Du kannst Deine Merkliste mit Deinen Freunden, Bekannten und
    <br />der ganzen Welt über Social Media teilen.
  </div>
  <div *ngIf="(isShared$ | async) === false">
    <div class="abc">Aktuell ist Deine Liste nicht geteilt.</div>
    <lk-button class="abc-button" type="button" (click)="shareNow()">Jetzt teilen</lk-button>
  </div>
  <div *ngIf="(isShared$ | async) === true">
    Teile diesen QR-Code:
    <div class="qr-center">
      <qrcode [qrdata]="getCurrentPublicUrl()" [width]="256" [errorCorrectionLevel]="'M'" [elementType]="'svg'"> </qrcode>
    </div>
    <div>
      Oder teile diesen Link: <br /><a href="{{ getCurrentPublicUrl() }}" target="_blank">{{ getCurrentPublicUrl() }}</a>
      <button mat-button (click)="copyToClipboard()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <div class="abc">
      <lk-button type="button" (click)="unshare()">Nicht mehr teilen</lk-button>
    </div>
  </div>
  <div class="abc">
    <lk-button type="button" (click)="closeDialog()">Schließen</lk-button>
  </div>
</div>
