<mat-card>
  <img
    *ngIf="imageUrl$ | async as imageUrl; else loading"
    class="product-thumbnail"
    [ngClass]="{
      placeholder: !imageUrl
    }"
    [src]="imageUrl || '/assets/lokalkauf-pin.svg'"
    [alt]="product.name"
  />

  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
    <mat-card-subtitle>
      <div class="text desc">{{ product.description }}</div>
      <div class="text price">{{ product.price | number: '1.2-2':'de' }} €</div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="enableInteraction">
    <button mat-icon-button (click)="removeClicked.emit()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="editClicked.emit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #loading>
  <div class="product-thumbnail spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
