name: Pull Request Check 

on:
  push:
    branches-ignore:
    - master
    - develop

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
    - name: Clone Repository 
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Init. Node.js Cache
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: npm install
      run: npm ci

    - name: Build
      run: npm run build

    - name: Check Code Style
      run: npm run lint
      continue-on-error: true

